.drp {
    font-size: var(--fnts3);
    position: relative;
}

.drp:focus .drp-cnt,
.drp:hover .drp-cnt {
    display: block;
}

.drp-btn {
    width: auto;
    height: auto;
    padding: var(--pad2);
    text-decoration: none;
    border-radius: var(--br3);
    margin: var(--mrg1);
    cursor: pointer;
    color: var(--t2);
}

.drp-btn:hover {
    opacity: 85%;
}

.drp-cnt {
    display: none;
    position: absolute;
    top: 20px;
    background-color: var(--bg1);
    min-width: var(--drp-min-width);
    width: auto;
    box-shadow: var(--box2);
    font-size: var(--fnts3);
    z-index: 1;
}

.drp-title {
    margin: 0;
    padding: var(--pad2);
    color: var(--t1);
}

.drp-cnt p {
    margin-top: 0;
    font-size: var(--fnts2);
    color: var(--t5);
}

.drp-cnt a {
    padding: var(--pad3);
    color: var(--t1);
    display: block;
    margin: 0;
}

.drp-cnt a:hover {
    background-color: var(--bg3);
    cursor: pointer;
}