/* Welcome to Roobie CSS.   */


/* Themes */

@import 'themes/light.css';
@import 'themes/dark.css';
@import 'classes.css';

/*
Z Index
*/

.z-s {
    z-index: 1;
}

.z,
.z-m {
    z-index: 3;
}

.z-l {
    z-index: 5;
}

.z-xl {
    z-index: 10;
}


/*
Navbar
*/

nav {
    background-color: var(--nav-bg);
}

.nav-top {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-row {
    width: 100%;
    height: auto;
}

.nav-col {
    height: 100%;
    width: auto;
}

.nav-title {
    margin: var(--margin-xl);
    font-size: var(--font-size-xl);
    color: var(--t1);
}

.nav-head {
    margin: var(--margin-s);
    font-size: var(--font-size-m);
    color: var(--t1);
}

.nav-item {
    padding: var(--padding-m);
    margin: 0;
    opacity: 80%;
    height: 100%;
    text-decoration: none;
    color: var(--nav);
}

.nav-item:hover {
    opacity: 100%;
    cursor: pointer;
}


/*
Icon
*/

.icon-s {
    width: var(--icon-s);
    height: var(--icon-s);
    font-size: var(--icon-s);
}

.icon-m,
.icon {
    width: var(--icon-m);
    height: var(--icon-m);
    font-size: var(--icon-m);
}

.icon-l {
    width: var(--icon-l);
    height: var(--icon-l);
    font-size: var(--icon-l);
}

.icon-xl {
    width: var(--icon-xl);
    height: var(--icon-xl);
    font-size: var(--icon-xl);
}

.icon-xxl {
    width: var(--icon-xxl);
    height: var(--icon-xxl);
    font-size: var(--icon-xxl);
}

.icon-xxxl {
    width: var(--icon-xxxl);
    height: var(--icon-xxxl);
    font-size: var(--icon-xxxl);
}


/* Position */

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.static {
    position: static;
}


/* Display */

.flx {
    display: flex;
}

.inl {
    display: inline;
}

.inl-blk {
    display: inline-block;
}

.inl-flx {
    display: inline-flex;
}


/* 
Border
*/

.bdr-none {
    border: none !important;
}

.bdr-s,
.bdr-s_ {
    border: var(--border-s) !important;
}

.bdr-m,
.bdr,
.bdr-m_,
.bdr_ {
    border: var(--border-m) !important;
}

.bdr-l,
.bdr-l_ {
    border: var(--border-l) !important;
}

.bdr-xl,
.bdr-xl_ {
    border: var(--border-xl) !important;
}

.bdr-s_:hover,
.bdr-m_:hover,
.bdr-l_:hover,
.bdr-xl_:hover,
.bdr_:hover {
    border: var(--border-l) !important;
}

.bdr-s_:active,
.bdr-m_:active,
.bdr-l_:active,
.bdr-xl_:active,
.bdr_:active {
    border: var(--border-l) !important;
}

.bdr-s_:focus,
.bdr-m_:focus,
.bdr-l_:focus,
.bdr-xl_:focus,
.bdr_:focus {
    border: var(--border-xl) !important;
}

.bdr-b_:hover {
    border-bottom: var(--border-m) !important;
}


/* Cursor */

.csr-pointer {
    cursor: pointer;
}

.csr,
.csr-default {
    cursor: default;
}


/*
Box shadow
*/

.box-none {
    box-shadow: none;
}

.box-s,
.box-s_ {
    box-shadow: var(--box-shadow-s);
}

.box-m,
.box,
.box-m_,
.box_ {
    box-shadow: var(--box-shadow-m);
}

.box-l,
.box-l_ {
    box-shadow: var(--box-shadow-l);
}

.box-xl,
.box-xl_ {
    box-shadow: var(--box-shadow-xl);
}

.box-s_:hover,
.box-m_:hover,
.box-l_:hover,
.box-xl_:hover,
.box_:hover {
    box-shadow: var(--box-shadow-l);
}

.box-s_:active,
.box-m_:active,
.box-l_:active,
.box-xl_:active,
.box_:active {
    box-shadow: var(--box-shadow-l);
}

.box-s_:focus,
.box-m_:focus,
.box-l_:focus,
.box-xl_:focus,
.box_:focus {
    box-shadow: var(--box-shadow-xl);
}


/*
Inset
*/

.in-none {
    box-shadow: none;
}

.in-s,
.in-s_ {
    box-shadow: var(--inset-s);
}

.in-m,
.in,
.in-m_,
.in_ {
    box-shadow: var(--inset-m);
}

.in-l,
.in-l_ {
    box-shadow: var(--inset-l);
}

.in-xl,
.in-xl_ {
    box-shadow: var(--inset-xl);
}

.in-s_:hover,
.in-m_:hover,
.in-l_:hover,
.in-xl_:hover,
.in_:hover {
    box-shadow: var(--inset-l);
}

.in-s_:active,
.in-m_:active,
.in-l_:active,
.in-xl_:active,
.in_:active {
    box-shadow: var(--inset-l);
}

.in-s_:focus,
.in-m_:focus,
.in-l_:focus,
.in-xl_:focus,
.in_:focus {
    box-shadow: var(--inset-xl);
}


/*
Height 
*/

.ht-s {
    height: var(--height-s);
}

.ht-33 {
    height: 33%;
}

.ht-m {
    height: var(--height-m);
}

.ht-50 {
    height: 50%;
}

.ht-l {
    height: var(--height-l);
}

.ht-xl {
    height: var(--height-xl);
}

.ht-xxl {
    height: var(--height-xxl);
}

.ht-auto {
    height: auto;
}

.ht {
    height: 100%;
}


/* 
Opacity
*/

.op-s {
    opacity: var(--opacity-s);
}

.op-33 {
    opacity: 33%;
}

.op-m {
    opacity: var(--opacity-m);
}

.op-50 {
    opacity: 50%;
}

.op-l {
    opacity: var(--opacity-l);
}

.op-xl {
    opacity: var(--opacity-xl);
}

.op-xxl {
    opacity: var(--opacity-xxl);
}

.op {
    opacity: 100%;
}


/*
Float
*/

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}


/*
Border Radius
*/

.br-none {
    border-radius: none;
}

.br-s,
.br-s_ {
    border-radius: var(--border-radius-s);
}

.br-m,
.br,
.br-m_,
.br_ {
    border-radius: var(--border-radius-m);
}

.br-l,
.br-l_ {
    border-radius: var(--border-radius-l);
}

.br-xl,
.br-xl_ {
    border-radius: var(--border-radius-xl);
}

.br-s_:hover,
.br-m_:hover,
.br-l_:hover,
.br-xl_:hover,
.br_:hover {
    border-radius: var(--border-radius-l);
}

.br-s_:active,
.br-m_:active,
.br-l_:active,
.br-xl_:active,
.br_:active {
    border-radius: var(--border-radius-l);
}

.br-s_:focus,
.br-m_:focus,
.br-l_:focus,
.br-xl_:focus,
.br_:focus {
    border-radius: var(--border-radius-xl);
}


/*
Button
*/

.btn {
    width: auto;
    height: auto;
    padding: var(--padding-s);
    text-decoration: none;
    border-radius: var(--border-radius-l);
    margin: var(--margin-s);
    cursor: pointer;
    border: var(--border-s);
    color: var(--btn1);
    background-color: var(--btn1-bg);
}


/*
Input
*/

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.inp {
    width: auto;
    padding: var(--padding-l);
    background-color: var(--bg3);
    border-radius: var(--border-radius-xl);
    margin: var(--margin-s);
    font-size: var(--font-size-s);
    font: 500 15px var(--font-family);
    border: var(--border-s);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--t5);
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--t5);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--t5);
}


/*
Tag
*/

.tag,
.tag_ {
    border: 1px solid transparent;
    padding: 0 var(--padding-s);
    box-shadow: var(--box-shadow-m);
    border-radius: var(--border-radius-xl);
    margin: var(--margin-s);
    font-size: var(--font-size-m);
    color: var(--t3);
    background-color: var(--bg3);
}

.tag_:hover {
    border: 1px solid var(--t1);
    box-shadow: var(--box-shadow-l);
    cursor: default;
}


/*
Scroll
*/

.scr {
    overflow: auto;
}

.scr-y {
    overflow-y: auto;
}

.scr-x {
    overflow-x: auto;
}


/*
Margin
*/

.mrg-0 {
    margin: 0;
}

.mrg-s {
    margin: var(--margin-s);
}

.mrg-m,
.mrg {
    margin: var(--margin-m);
}

.mrg-l {
    margin: var(--margin-l);
}

.mrg-xl {
    margin: var(--margin-xl);
}


/* Margin Left */

.mrgl-s {
    margin-left: var(--margin-s);
}

.mrgl-m,
.mrgl {
    margin-left: var(--margin-m);
}

.mrgl-l {
    margin-left: var(--margin-l);
}

.mrgl-xl {
    margin-left: var(--margin-xl);
}


/* Margin Right*/

.mrgr-s {
    margin-right: var(--margin-s);
}

.mrgr-m,
.mrgr {
    margin-right: var(--margin-m);
}

.mrgr-l {
    margin-right: var(--margin-l);
}

.mrgr-xl {
    margin-right: var(--margin-xl);
}


/* Margin Vertical*/

.mrgv-s {
    margin: var(--margin-s) 0;
}

.mrgv-m,
.mrgv {
    margin: var(--margin-m) 0;
}

.mrgv-l {
    margin: var(--margin-l) 0;
}

.mrgv-xl {
    margin: var(--margin-xl) 0;
}


/* Margin Horizontal */

.mrgh-s {
    margin: 0 var(--margin-s);
}

.mrgh-m,
.mrgh {
    margin: 0 var(--margin-m);
}

.mrgh-l {
    margin: 0 var(--margin-l);
}

.mrgh-xl {
    margin: 0 var(--margin-xl);
}


/*
Padding
*/

.pad-0 {
    padding: 0;
}

.pad-xs {
    padding: var(--padding-xs);
}

.pad-s {
    padding: var(--padding-s);
}

.pad-m,
.pad {
    padding: var(--padding-m);
}

.pad-l {
    padding: var(--padding-l);
}

.pad-xl {
    padding: var(--padding-xl);
}


/* Padding Left */

.padl-s {
    padding-left: var(--padding-s);
}

.padl-m,
.padl {
    padding-left: var(--padding-m);
}

.padl-l {
    padding-left: var(--padding-l);
}

.padl-xl {
    padding-left: var(--padding-xl);
}


/* Padding Right */

.padr-s {
    padding-right: var(--padding-s);
}

.padr-m,
.padr {
    padding-right: var(--padding-m);
}

.padr-l {
    padding-right: var(--padding-l);
}

.padr-xl {
    padding-right: var(--padding-xl);
}


/* Padding Vertical*/

.padv-s {
    padding: var(--padding-s) 0;
}

.padv-m,
.padv {
    padding: var(--padding-m) 0;
}

.padv-l {
    padding: var(--padding-l) 0;
}

.padv {
    padding: var(--padding-xl) 0;
}


/* Padding Horizontal */

.padh-s {
    padding: 0 var(--padding-s);
}

.padh-m,
.padh {
    padding: 0 var(--padding-m);
}

.padh-l {
    padding: 0 var(--padding-l);
}

.padh-xl {
    padding: 0 var(--padding-xl);
}


/*
Containers
*/

.div-s {
    width: var(--div-s);
    padding: var(--padding-s);
}

.div-33 {
    width: 33%;
    padding: var(--padding-s);
}

.div-m {
    width: var(--div-m);
    padding: var(--padding-s);
}

.div-50 {
    width: 50%;
    padding: var(--padding-s);
}

.div-l {
    width: var(--div-l);
    padding: var(--padding-s);
}

.div-xl {
    width: var(--div-xl);
    padding: var(--padding-s);
}

.div-xxl {
    width: var(--div-xxl);
    padding: var(--padding-s);
}

.div-auto {
    width: auto;
    height: auto;
    padding: var(--padding-s);
}

.div {
    width: 100%;
}

.div-mr {
    width: 1000px;
}

@media screen and (max-width: 800px) {
    .div,
    .div-s,
    .div-33,
    .div-m,
    .div-50,
    .div-l,
    .div-xl,
    .div,
    .div-mr {
        width: 100%;
        display: inline;
    }
}


/*
Dropdown
*/

.drp {
    font-size: var(--font-size-m);
    position: relative;
}

.drp:focus .drp-cnt,
.drp:hover .drp-cnt {
    display: block;
}

.drp-btn {
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    color: var(--btn1);
}

.drp-btn:hover {
    cursor: pointer;
}

.drp-cnt {
    display: none;
    position: absolute;
    background-color: var(--bg1);
    min-width: var(--dropdown-min-width);
    width: auto;
    box-shadow: var(--box-shadow-m);
    font-size: var(--font-size-m);
    z-index: 1;
}

.drp-title {
    margin: 0;
    padding: var(--padding-s);
    color: var(--t1);
}

.drp-cnt p {
    margin-top: 0;
    font-size: var(--font-size-s);
    color: var(--t5);
}

.drp-cnt a {
    padding: var(--padding-m);
    color: var(--t1);
    display: block;
    margin: 0;
}

.drp-cnt a:hover {
    background-color: var(--bg3);
    cursor: pointer;
}


/*
List
*/

.ul,
.ul-bdr,
.ul-cnt,
.ul-cnt-bdr {
    list-style-type: none;
    width: auto;
    padding-inline-start: 0;
    margin: var(--margin-l) 0;
    padding: 0;
}

.ul li,
.ul-bdr li {
    color: var(--t5);
    text-decoration: none;
    height: auto;
    padding: var(--padding-m);
    background-color: var(--bg2);
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.ul-cnt li,
.ul-cnt-bdr li {
    color: var(--t5);
    text-decoration: none;
    height: auto;
    padding: var(--padding-l);
    background-color: var(--bg2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ul-cnt li a,
.ul-cnt-bdr li a {
    margin: var(--margin-m) 0;
}

.ul li span,
.ul-bdr li span {
    font-size: var(--font-size-s);
    color: var(--t5);
}

.ul-bdr li+li,
.ul-cnt-bdr li+li {
    border-top: var(--border-m);
}

.ul li:hover {
    color: var(--t1);
}

.ul-bdr li:hover,
.ul-cnt li:hover,
.ul-cnt-bdr li:hover {
    color: var(--t1);
}


/*
Text
*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txtd-none {
    text-decoration: none;
}


/* Font Size */

.fnt-xxxs {
    font-size: var(--font-size-xxxs);
}

.fnt-xxs {
    font-size: var(--font-size-xxs);
}

.fnt-xs {
    font-size: var(--font-size-xs);
}

.fnt-s {
    font-size: var(--font-size-s);
}

.fnt-m,
.fnt {
    font-size: var(--font-size-m);
}

.fnt-l {
    font-size: var(--font-size-l);
}

.fnt-xl {
    font-size: var(--font-size-xl);
}

.fnt-xxl {
    font-size: var(--font-size-xxl);
}


/*
Flex display and direction
*/

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.flx-col-rev {
    display: flex;
    flex-direction: column-reverse;
}


/* 
Wrap
Nowrap aligns items on a single line
Wrap will push items to the next line if needed
*/

.wrp {
    flex-wrap: wrap;
}

.wrp-rev {
    flex-wrap: wrap-reverse;
}

.nowrp,
.wrp-none {
    flex-wrap: nowrap;
}


/*
Alignment on the main axis
Horizontal for row, vertical for column
*/

.jst-between {
    justify-content: space-between;
}

.jst-around {
    justify-content: space-around;
}

.jst-center {
    justify-content: center;
}

.jst-start {
    justify-content: flex-start;
}

.jst-end {
    justify-content: flex-end;
}

.jst-base {
    justify-content: baseline;
}

.jst-stretch {
    justify-content: stretch;
}


/* 
Item alignment
How items are aligned within a single line
*/

.aln-center {
    align-items: center;
}

.aln-between {
    align-items: space-between;
}

.aln-around {
    align-items: space-around;
}

.aln-start {
    align-items: flex-start;
}

.aln-end {
    align-items: flex-end;
}

.aln-base {
    align-items: baseline;
}

.aln-stretch {
    align-items: stretch;
}


/* 
Self alignment 
How a single item is aligned within a single line
*/

.aln-self-between {
    align-self: space-between;
}

.aln-self-around {
    align-self: space-around;
}

.aln-self-start {
    align-self: flex-start;
}

.aln-self-end {
    align-self: flex-end;
}

.aln-self-base {
    align-self: baseline;
}

.aln-self-stretch {
    align-self: stretch;
}


/* 
Content alignment 
How lines are spaced.  No effect if content is only 1 line.
*/

.aln-cnt-between {
    align-content: space-between;
}

.aln-cnt-around {
    align-content: space-around;
}

.aln-cnt-start {
    align-content: flex-start;
}

.aln-cnt-end {
    align-content: flex-end;
}

.aln-cnt-base {
    align-content: baseline;
}

.aln-cnt-stretch {
    align-content: stretch;
}


/* 
Order
How items are ordered
*/

.ord-first {
    order: -1;
}