.ul,
.ul-cnt {
    list-style-type: none;
    width: auto;
    padding-inline-start: 0;
    margin: var(--mrg2);
    padding: 0;
    border-radius: var(--br1);
}

.ul li {
    color: var(--t5);
    text-decoration: none;
    height: auto;
    padding: var(--pad3);
    background-color: var(--bg2);
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.ul-cnt li {
    color: var(--t5);
    text-decoration: none;
    height: auto;
    padding: var(--pad4);
    background-color: var(--bg2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.ul-cnt li a {
    margin: var(--mrg2) 0;
}

.ul li span {
    font-size: var(--fnts2);
    color: var(--t5);
}

.ul li+li,
.ul-cnt li+li {
    border-top: var(--bdr2);
}

.ul li:hover,
.ul-cnt li:hover {
    color: var(--t1);
}