h2 {
    color: rgb(24, 196, 96);
    text-align: center;
    margin-top: 0;
}

nav {
    background-color: #333333;
}

nav a {
    text-decoration: none;
    color: #bcbcbc;
}

nav a:hover {
    cursor: pointer;
    color: rgb(24, 196, 96);
}

.content {
    text-align: center;
    padding: 10px;
}