.accordion {
    width: 100%;
    background-color: var(--bg1);
}


/* Header that triggers hidden content */

.accordion-header {
    background-color: transparent;
    color: var(--t2);
    cursor: pointer;
    padding: var(--pad5);
    width: 100%;
    border: var(--bdr1);
    outline: none;
    text-align: left;
    font-size: var(--fnts3);
    transition: 0.3s ease-in-out;
}

.accordion-header:hover {
    background-color: rgba(114, 114, 114, 0.05);
}


/* Icon in header  */

.accordion-header:after {
    content: "\003E";
    float: right;
    font-family: var(--fntf1);
    font-size: var(--fnts4);
    margin-top: -5px;
    color: var(--t2);
    transition: 0.3s ease-in-out;
    transform: scale(1, 1.5);
}

.accordion-header.accordion-active {
    background-color: var(--bg1);
    border: var(--bdr1);
}

.accordion-header.accordion-active:after {
    content: "\003E";
    transform: rotate(90deg) scale(1, 1.5);
}


/* Hidden content */

.accordion-panel {
    background-color: var(--bg2);
    display: none;
    padding: var(--pad4);
    overflow: hidden;
    animation-name: fade;
    animation-duration: 0.3s;
    box-shadow: var(--in1);
}