.mrgva {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mrgv0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mrgv1 {
    margin-top: var(--mrg1) !important;
    margin-bottom: var(--mrg1) !important;
}

.mrgv2,
.mrgv {
    margin-top: var(--mrg2) !important;
    margin-bottom: var(--mrg2) !important;
}

.mrgv3 {
    margin-top: var(--mrg3) !important;
    margin-bottom: var(--mrg3) !important;
}

.mrgv4 {
    margin-top: var(--mrg4) !important;
    margin-bottom: var(--mrg4) !important;
}

.mrgv5 {
    margin-top: var(--mrg5) !important;
    margin-bottom: var(--mrg5) !important;
}

.mrgv6 {
    margin-top: var(--mrg6) !important;
    margin-bottom: var(--mrg6) !important;
}