input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.input {
    display: inline-flex;
    width: 250px;
    padding: var(--pad3);
    background-color: var(--bg2);
    border-radius: var(--br4);
    margin: var(--mrg1);
    font-size: var(--fnts4);
    font: 500 var(--fnts3) var(--fntf1);
    border: none;
    color: var(--t2);
    transition: width 0.5s ease-in-out;
}

.input-outline {
    border: var(--bdr2) !important;
}

.input-expand:focus {
    width: 500px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--t5);
    opacity: 1;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--t5);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--t5);
}

@media screen and (max-width: 800px) {
    .input {
        width: 100% !important;
    }
}