.input {
    display: inline-flex;
    width: 250px;
    padding: var(--pad3);
    background-color: var(--bg2);
    border-radius: var(--br4);
    margin: var(--mrg1);
    font-size: var(--fnts4);
    font: 500 var(--fnts3) var(--fntf1);
    border: none;
    color: var(--t2);
    transition: width 0.5s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.input-outline {
    border: var(--bdr2) !important;
}

.input-expand:focus {
    width: 500px;
}


/* Chrome, Firefox, Opera, Safari 10.1+ */

::placeholder {
    color: var(--t5);
    opacity: 1;
}


/* Internet Explorer 10-11 */

 :-ms-input-placeholder {
    color: var(--t5);
}


/* Microsoft Edge */

 ::-ms-input-placeholder {
    color: var(--t5);
}

@media screen and (max-width: 800px) {
    .input {
        width: 100% !important;
    }
}