.row-spacer1>* {
    margin: 0 var(--mrg1);
}

.row-spacer2,
.row-spacer>* {
    margin: 0 var(--mrg2);
}

.row-spacer3>* {
    margin: 0 var(--mrg3);
}

.row-spacer4>* {
    margin: 0 var(--mrg4);
}

.row-spacer5>* {
    margin: 0 var(--mrg5);
}

.row-spacer6>* {
    margin: 0 var(--mrg6);
}