.grid div {
    width: 30%;
    height: 50px;
    color: var(--roobie-black);
    margin: 5px;
    background-color: var(--roobie-white);
}

.grid {
    background-color: var(--roobie-off-white);
    padding: var(--roobie-padding-l);
}


/*
Max height to demo wrap styles
*/

.mrg-v {
    max-height: 225px;
}