<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Grid</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/grid.css">
</head>

<body class="txt-l spc-none">
    <nav class="nav-top flx-row aln-center box-shadow">
        <div class="roobie">Roobie</div>
        <a class="nav-item" href="../../index.html">Home</a>
        <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
        <a class="nav-item" href="../../components/button/button.html">Button</a>
        <a class="nav-item" href="../../components/input/input.html">Input</a>
        <a class="nav-item active" href="../../components/grid/grid.html">Grid</a>
    </nav>
    <div class="content">
        <h2>Grid</h2>
        <h3>Horizontal</h3>
        <div class="flx-row grid jst-center aln-center">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
        </div>
        <h3>Vertical</h3>
        <div class="flx-col grid aln-center">
            <div class="out br-2 flx-col jst-around">One</div>
            <div class="out br-2 flx-col jst-around">Two</div>
            <div class="out br-2 flx-col jst-around">Three</div>
        </div>
        <h3>Horizontal Nowrap</h3>
        <div class="flx-row grid aln-center">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
            <div class="out br-8 flx-col jst-around">Four</div>
            <div class="out br-8 flx-col jst-around">Five</div>
        </div>

        <h3>Horizontal Wrap</h3>
        <div class="flx-row grid jst-center aln-center wrp">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
            <div class="out br-8 flx-col jst-around">Four</div>
            <div class="out br-8 flx-col jst-around">Five</div>
        </div>
    </div>
</body>

</html>