<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Grid</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/grid.css">
</head>

<body class="txt-150em spc-none">
    <div class="content">
        <h2>Grid</h2>
        <h3>Horizontal</h3>
        <div class="flx-row jst-center aln-center">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
        </div>
        <h3>Vertical</h3>
        <div class="flx-col aln-center">
            <div class="out br-2 flx-col jst-around">One</div>
            <div class="out br-2 flx-col jst-around">Two</div>
            <div class="out br-2 flx-col jst-around">Three</div>
        </div>
        <h3>Horizontal Nowrap</h3>
        <div class="flx-row aln-center">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
            <div class="out br-8 flx-col jst-around">Four</div>
            <div class="out br-8 flx-col jst-around">Five</div>
        </div>

        <h3>Horizontal Wrap</h3>
        <div class="flx-row jst-center aln-center wrp">
            <div class="out br-8 flx-col jst-around">One</div>
            <div class="out br-8 flx-col jst-around">Two</div>
            <div class="out br-8 flx-col jst-around">Three</div>
            <div class="out br-8 flx-col jst-around">Four</div>
            <div class="out br-8 flx-col jst-around">Five</div>
        </div>
    </div>
</body>

</html>