.grid div {
    width: 30%;
    height: 50px;
    color: var(--black);
    margin: 5px;
    background-color: var(--white);
}

.grid {
    background-color: var(--off-white);
    padding: var(--padding-l);
}


/*
Max height to demo wrap styles
*/

.mrg-v {
    max-height: 225px;
}