.roobie {
    color: var(--roobie-green);
    padding: var(--roobie-padding-s) 0;
    font-weight: bolder;
    font-size: 1.5em;
}

.roobie span {
    color: var(--roobie-black);
}

.content {
    height: 100%;
    overflow: auto;
}


/*
Dividers
*/

.row-divider {
    height: 30px;
    width: 100%;
}

.col-divider {
    height: 100%;
    width: 30px;
}


/*
Body styles
*/

body {
    background-color: var(--roobie-white);
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
    line-height: 1.5em;
}

xmp {
    background-color: var(--roobie-off-white);
    color: var(--roobie-black);
}


/*
Headings
*/

h1 {
    color: var(--roobie-black);
    margin: var(--margin-m) 0;
    font-size: 2em !important;
}

h2 {
    color: var(--roobie-grey);
    margin: var(--margin-m) 0;
}

h3 {
    color: var(--roobie-green);
    margin: var(--margin-s) 0;
    margin-top: var(--margin-xxl);
}

p {
    margin: var(--margin-s) 0;
}

.mrg-h {
    margin: 0 var(--margin-l);
}

.mrg-v {
    margin: var(--margin-l) 0;
}

.ul {
    margin: var(--margin-m) 0;
}

b {
    border-radius: 8px;
    background-color: var(--roobie-off-white);
    padding: var(--roobie-padding-s);
    color: var(--roobie-soft-blue);
}


/*Navbar*/

nav {
    background-color: var(--roobie-off-white);
}

nav a {
    color: var(--roobie-black);
}

.active {
    border-left: 3px solid var(--roobie-black);
    opacity: 100% !important;
}