/* Themes */

:root {
    --font-family: "fantasy", sans-serif;
    --pad-s: 5px;
    --pad-m: 10px;
    --pad-l: 15px;
    --pad-xl: 20px;
    --margin-s: 5px;
    --margin-m: 10px;
    --margin-l: 15px;
    --margin-xl: 20px;
    --box-shadow: 1px 3px 3px rgb(17, 17, 17, .4);
    --roobie-white: rgb(240, 240, 240);
    --roobie-off-white: rgb(218, 218, 218);
    --roobie-black: rgb(19, 19, 19);
    --roobie-red: rgb(245, 9, 9);
    --roobie-orange: rgb(243, 162, 11);
    --roobie-purple: rgb(122, 10, 122);
    --roobie-green: rgb(24, 196, 96);
    --roobie-yellow: rgb(230, 230, 16);
    --roobie-blue: rgb(13, 13, 226);
    --roobie-grey: rgb(88, 87, 87);
    --roobie-violet: rgb(226, 108, 226);
    --roobie-pink: rgb(219, 163, 173);
}


/*
Nav bar
*/

.nav-top {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-bottom {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-horiz {
    z-index: 100;
    height: auto;
    width: 100%;
}

.nav-vert {
    z-index: 100;
    height: 100%;
    width: auto;
}

.nav-item {
    padding: var(--pad-m);
    margin: 10px;
}

.sticky {
    position: sticky;
}


/* 
Outline
*/

.out {
    border: 1px solid rgb(255, 255, 255, .6);
}

.out:hover {
    border-color: rgb(255, 255, 255, .8);
}

.in {
    box-shadow: inset 0px 0px 5px 2px rgb(34, 34, 34, .3);
}

.in:hover {
    box-shadow: inset 0px 0px 5px 3px rgb(34, 34, 34, .5) !important;
}


/*
Height 
*/

.ht-25 {
    height: 25%;
}

.ht-50 {
    height: 50%;
}

.ht-75 {
    height: 75%;
}

.ht-100 {
    height: 100%;
}


/* 
Opacity
*/

.op-25 {
    opacity: 25%;
}

.op-50 {
    opacity: 50%;
}

.op-75 {
    opacity: 75%
}

.op-100 {
    opacity: 100%;
}


/*
Float
*/

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}


/*
Border Radius
*/

.br-2 {
    border-radius: 2px;
}

.br-4 {
    border-radius: 4px;
}

.br-6 {
    border-radius: 6px;
}

.br-8 {
    border-radius: 8px;
}

.br-10 {
    border-radius: 10px;
}


/*
Buttons
*/

.btn {
    width: auto;
    height: auto;
    padding: var(--pad-l);
    text-decoration: none;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}


/*
Inputs 
*/

.inp {
    width: auto;
    padding: var(--pad-l);
    color: var(--roobie-grey);
    border-radius: 8px;
    margin: 5px;
    border: none;
    font-size: .7em;
    font: 500 15px var(--font-family);
}

.inp:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
}


/*
Containers
*/

.div-s {
    width: 20%;
    padding: var(--pad-s);
}

.div-m {
    width: 40%;
    padding: var(--pad-s);
}

.div-l {
    width: 60%;
    padding: var(--pad-s);
}

.div-xl {
    width: 80%;
    padding: var(--pad-s);
}

.div {
    width: 100%;
    padding: var(--pad-s);
}

.div-mr {
    width: 1000px;
}

@media screen and (max-width: 800px) {
    .div,
    .div-s,
    .div-m,
    .div-l,
    .div-xl,
    .div,
    .div-mr {
        width: 100%;
        display: inline;
    }
}


/* 
Spacing
*/

.spc-none {
    padding: 0;
    margin: 0;
}


/*
Text
*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-xxxs {
    font-size: .2em;
}

.txt-xxs {
    font-size: .4em;
}

.txt-xs {
    font-size: .6em;
}

.txt-s {
    font-size: .8em;
}

.txt-m,
.txt {
    font-size: 1em;
}

.txt-l {
    font-size: 1.5em;
}

.txt-xl {
    font-size: 2em;
}

.txt-xxl {
    font-size: 2.5em;
}


/*
Box shadow
*/

.box-shadow {
    box-shadow: 0px 0px 5px 5px rgb(34, 34, 34, .6);
}


/*
Flex display and direction
*/

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.flx-col-rev {
    display: flex;
    flex-direction: column-reverse;
}


/* 
Wrap
Nowrap aligns items on a single line
Wrap will push items to the next line if needed
*/

.wrp {
    flex-wrap: wrap;
}

.wrp-rev {
    flex-wrap: wrap-reverse;
}

.wrp-none {
    flex-wrap: nowrap;
}


/*
Alignment on the main axis
Horizontal for row, vertical for column
*/

.jst-between {
    justify-content: space-between;
}

.jst-around {
    justify-content: space-around;
}

.jst-center {
    justify-content: center;
}

.jst-start {
    justify-content: flex-start;
}

.jst-end {
    justify-content: flex-end;
}

.jst-base {
    justify-content: baseline;
}

.jst-stretch {
    justify-content: stretch;
}


/* 
Item alignment
How items are aligned within a single line
*/

.aln-center {
    align-items: center;
}

.aln-between {
    align-items: space-between;
}

.aln-around {
    align-items: space-around;
}

.aln-start {
    align-items: flex-start;
}

.aln-end {
    align-items: flex-end;
}

.aln-base {
    align-items: baseline;
}

.aln-stretch {
    align-items: stretch;
}


/* 
Self alignment 
How a single item is aligned within a single line
*/

.aln-self-between {
    align-self: space-between;
}

.aln-self-around {
    align-self: space-around;
}

.aln-self-start {
    align-self: flex-start;
}

.aln-self-end {
    align-self: flex-end;
}

.aln-self-base {
    align-self: baseline;
}

.aln-self-stretch {
    align-self: stretch;
}


/* 
Content alignment 
How lines are spaced.  No effect if content is only 1 line.
*/

.aln-content-between {
    align-content: space-between;
}

.aln-content-around {
    align-content: space-around;
}

.aln-content-start {
    align-content: flex-start;
}

.aln-content-end {
    align-content: flex-end;
}

.aln-content-base {
    align-content: baseline;
}

.aln-content-stretch {
    align-content: stretch;
}


/* 
Order
How items are ordered
*/

.ord-first {
    order: -1;
}