.roobie {
    color: var(--green);
    font-weight: bolder;
    font-size: 1.5em;
    margin: var(--margin-m) 0;
}

.roobie span {
    color: var(--black);
}

.title span {
    color: var(--white);
}

.nav-head {
    color: var(--soft-blue);
}


/*
Dividers
*/

.row-divider {
    height: 30px;
    width: 100%;
}

.col-divider {
    height: 100%;
    width: 30px;
}


/*
Body styles
*/

body {
    background-color: var(--white);
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
}

xmp {
    color: var(--black);
    font-weight: bold;
    white-space: normal;
}


/*
Headings
*/

h1 {
    color: var(--white);
    margin: var(--margin-m) 0;
    font-size: var(--font-size-xxxl) !important;
}

h1+p {
    color: var(--smooth-white);
}

h2 {
    color: var(--grey);
    margin: var(--margin-m) 0;
}

h3 {
    color: var(--green);
    margin: var(--margin-m) 0;
}

h4 {
    color: var(--soft-blue);
    margin: var(--margin-s) 0;
}

.docs h3 {
    width: 200px;
    color: var(--black);
    font-weight: 500;
}

.docs h4 {
    margin-right: var(--margin-xxxxl);
    width: 200px;
}

.docs p {
    width: 400px;
}

p {
    margin: var(--margin-s) 0;
}

.ul {
    margin: 0;
}

b {
    border-radius: var(--border-radius-xl);
    background-color: var(--off-white);
    padding: var(--padding-s);
    color: var(--soft-blue);
    margin: var(--margin-s);
}


/*Navbar*/

nav {
    background-color: var(--off-white);
}

nav a {
    color: var(--black);
}

.active {
    border-left: 1px solid var(--soft-blue);
    background: linear-gradient(90deg, rgba(67, 67, 221, .15) 30%, rgba(255, 255, 255, 0.01) 100%);
    color: var(--black);
    opacity: 100% !important;
}

#nav {
    width: 200px;
}

.gem {
    width: 35px;
    height: 35px;
}

.adv li {
    box-shadow: 0 0 1px 2px rgb(67, 67, 221, .2) !important;
    color: var(--soft-blue) !important;
    font-weight: 800;
    height: 75px;
    margin-bottom: var(--margin-m);
    border-radius: var(--border-radius-m);
}

.adv li:hover {
    color: var(--white) !important;
    background-color: var(--soft-blue);
    box-shadow: var(--box-shadow-l);
    height: 100px;
    font-weight: 900;
    border-radius: var(--border-radius-xxxl);
    transition: .5s ease;
}

.adv li:hover span {
    color: var(--white) !important;
    transition: .3s ease;
}

.nav-container {
    border-left: 2px solid var(--soft-blue);
    margin-left: var(--margin-m);
}