.roobie {
    font-size: 1.5em;
    color: var(--roobie-green);
    padding: 10px;
    font-weight: bolder;
}

.title {
    font-size: 2em;
}

.roobie span {
    color: var(--roobie-white);
}

.active {
    color: var(--roobie-green);
    background-color: var(--roobie-black);
}

.content {
    height: 100%;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

p {
    color: var(--roobie-off-white);
}


/*
Dividers
*/

.row-divider {
    height: 30px;
    width: 100%;
}

.col-divider {
    height: 100%;
    width: 30px;
}


/*
Body styles
*/

body {
    background-color: var(--roobie-black);
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
}


/*
Headings
*/

h1 {
    color: var(--roobie-white);
    text-align: center;
}

h2 {
    color: var(--roobie-green);
    text-align: center;
    margin-top: 0;
}

h3 {
    color: var(--roobie-white);
    text-align: left;
    margin-bottom: 5px;
}


/*Navbar*/

nav {
    background-color: #333333;
}

nav a {
    text-decoration: none;
    color: #bcbcbc;
}

nav a:hover {
    cursor: pointer;
    color: var(--roobie-green);
}