/* Variables */

 :root {
    --font-family: "Arial", sans-serif;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;
    --padding-xxxl: 40px;
    --padding-xxxxl: 50px;
    --margin-s: 5px;
    --margin-m: 10px;
    --margin-l: 15px;
    --margin-xl: 20px;
    --margin-xxl: 30px;
    --margin-xxxl: 40px;
    --margin-xxxxl: 50px;
    --font-size-xxxs: .2em;
    --font-size-xxs: .4em;
    --font-size-xs: .6em;
    --font-size-s: .8em;
    --font-size-m: 1em;
    --font-size-l: 1.25em;
    --font-size-xl: 1.5em;
    --font-size-xxl: 1.75em;
    --font-size-xxxl: 2em;
    --div-s: 20%;
    --div-m: 40%;
    --div-l: 60%;
    --div-xl: 80%;
    --div-xxl: 90%;
    --border-radius-s: 2px;
    --border-radius-m: 4px;
    --border-radius-l: 6px;
    --border-radius-xl: 8px;
    --border-radius-xxl: 10px;
    --border-radius-xxxl: 12px;
    --inset-s: inset 0px 0px 1px 1px rgb(17, 17, 17, .1);
    --inset-m: inset 0px 0px 2px 2px rgb(17, 17, 17, .2);
    --inset-l: inset 0px 0px 3px 3px rgb(17, 17, 17, .2);
    --inset-xl: inset 0px 0px 3px 3px rgb(17, 17, 17, .3);
    --border-s: .5px solid var(--black);
    --border-m: 1px solid var(--black);
    --border-l: 2px solid var(--black);
    --border-xl: 3px solid var(--black);
    --box-shadow-s: 0 0 1px 1px rgb(17, 17, 17, .1);
    --box-shadow-m: 0 0 2px 2px rgb(17, 17, 17, .2);
    --box-shadow-l: 0 0 3px 3px rgb(17, 17, 17, .2);
    --box-shadow-xl: 0 0 3px 3px rgb(17, 17, 17, .3);
    --white: rgb(240, 240, 240);
    --off-white: rgb(228, 228, 228);
    --smooth-white: rgb(241, 241, 241);
    --black: rgb(19, 19, 19);
    --red: rgb(245, 9, 9);
    --orange: rgb(243, 162, 11);
    --purple: rgb(122, 10, 122);
    --green: rgb(24, 196, 96);
    --yellow: rgb(230, 230, 16);
    --blue: rgb(13, 13, 226);
    --soft-blue: rgb(67, 67, 221, .9);
    --grey: rgb(88, 87, 87);
    --violet: rgb(226, 108, 226);
    --pink: rgb(219, 163, 173);
}


/* Black */

.black {
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}


/* White */

.white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}


/* Grey */

.grey {
    color: var(--grey);
}

.bg-grey {
    background-color: var(--grey);
}


/* White */

.off-white {
    color: var(--off-white);
}

.bg-off-white {
    background-color: var(--off-white);
}


/* Red */

.red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}


/* Blue */

.blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}


/* Soft Blue */

.soft-blue {
    color: var(--soft-blue);
}

.bg-soft-blue {
    background-color: var(--soft-blue);
}


/* Yellow */

.yellow {
    color: var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
}


/* Orange */

.orange {
    color: var(--orange);
}

.bg-orange {
    background-color: var(--orange);
}


/* Green */

.green {
    color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

.bdr-green {
    border-color: var(--green) !important;
}


/*
Navbar
*/

.nav-top {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-bottom {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-row {
    z-index: 100;
    height: auto;
    width: 100%;
}

.nav-col {
    z-index: 100;
    height: 100%;
    width: auto;
}

.nav-title {
    margin: var(--margin-xl);
    font-size: 1.25em;
    color: var(--black);
}

.nav-head {
    margin: var(--margin-m);
    margin-top: var(--margin-xl);
    font-size: 1em;
    color: var(--black);
}

.nav-item {
    padding: var(--padding-s);
    margin: var(--margin-m);
    width: auto;
    opacity: 75%;
    height: 100%;
    text-decoration: none;
}

.nav-item:hover {
    opacity: 100%;
    cursor: pointer;
}


/* Position */

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.static {
    position: static;
}


/* Display */

.flx {
    display: flex;
}

.inl {
    display: inline;
}

.inl-blk {
    display: inline-block;
}

.inl-flx {
    display: inline-flex;
}


/* 
Border
*/

.bdr-none {
    border: none !important;
}

.bdr-s,
.bdr-s_ {
    border: var(--border-s) !important;
}

.bdr-m,
.bdr,
.bdr-m_,
.bdr_ {
    border: var(--border-m) !important;
}

.bdr-l,
.bdr-l_ {
    border: var(--border-l) !important;
}

.bdr-xl,
.bdr-xl_ {
    border: var(--border-xl) !important;
}

.bdr-s_:hover,
.bdr-m_:hover,
.bdr-l_:hover,
.bdr-xl_:hover,
.bdr_:hover {
    border: var(--border-l) !important;
}

.bdr-s_:active,
.bdr-m_:active,
.bdr-l_:active,
.bdr-xl_:active,
.bdr_:active {
    border: var(--border-l) !important;
}

.bdr-s_:focus,
.bdr-m_:focus,
.bdr-l_:focus,
.bdr-xl_:focus,
.bdr_:focus {
    border: var(--border-xl) !important;
}

.bdr-b_:hover {
    border-bottom: var(--border-m) !important;
}


/*
Box shadow
*/

.box-s,
.box-s_ {
    box-shadow: var(--box-shadow-s);
}

.box-m,
.box,
.box-m_,
.box_ {
    box-shadow: var(--box-shadow-m);
}

.box-l,
.box-l_ {
    box-shadow: var(--box-shadow-l);
}

.box-xl,
.box-xl_ {
    box-shadow: var(--box-shadow-xl);
}

.box-s_:hover,
.box-m_:hover,
.box-l_:hover,
.box-xl_:hover,
.box_:hover {
    box-shadow: var(--box-shadow-l);
}

.box-s_:active,
.box-m_:active,
.box-l_:active,
.box-xl_:active,
.box_:active {
    box-shadow: var(--box-shadow-l);
}

.box-s_:focus,
.box-m_:focus,
.box-l_:focus,
.box-xl_:focus,
.box_:focus {
    box-shadow: var(--box-shadow-xl);
}


/*
Inset
*/

.in-s,
.in-s_ {
    box-shadow: var(--inset-s);
}

.in-m,
.in,
.in-m_,
.in_ {
    box-shadow: var(--inset-m);
}

.in-l,
.in-l_ {
    box-shadow: var(--inset-l);
}

.in-xl,
.in-xl_ {
    box-shadow: var(--inset-xl);
}

.in-s_:hover,
.in-m_:hover,
.in-l_:hover,
.in-xl_:hover,
.in_:hover {
    box-shadow: var(--inset-l);
}

.in-s_:active,
.in-m_:active,
.in-l_:active,
.in-xl_:active,
.in_:active {
    box-shadow: var(--inset-l);
}

.in-s_:focus,
.in-m_:focus,
.in-l_:focus,
.in-xl_:focus,
.in_:focus {
    box-shadow: var(--inset-xl);
}


/*
Height 
*/

.ht-25 {
    height: 25%;
}

.ht-33 {
    height: 33%;
}

.ht-50 {
    height: 50%;
}

.ht-75 {
    height: 75%;
}

.ht-100 {
    height: 100%;
}


/* 
Opacity
*/

.op-25 {
    opacity: 25%;
}

.op-50 {
    opacity: 50%;
}

.op-75 {
    opacity: 75%
}

.op-100 {
    opacity: 100%;
}


/*
Float
*/

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}


/*
Border Radius
*/

.br-s {
    border-radius: var(--border-radius-s);
}

.br-m,
.br {
    border-radius: var(--border-radius-m);
}

.br-l {
    border-radius: var(--border-radius-l);
}

.br-xl {
    border-radius: var(--border-radius-xl);
}

.br-xxl {
    border-radius: var(--border-radius-xxl);
}

.br-xxxl {
    border-radius: var(--border-radius-xxxl);
}


/*
Button
*/

.btn {
    width: auto;
    height: auto;
    padding: var(--padding-m);
    text-decoration: none;
    border-radius: 6px;
    margin: var(--margin-s);
    cursor: pointer;
    border: var(--border-s);
}


/*
Input
*/

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.inp {
    width: auto;
    padding: var(--padding-l);
    background-color: var(--off-white);
    border-radius: 8px;
    margin: var(--margin-s);
    font-size: var(--font-size-s);
    font: 500 15px var(--font-family);
    border: var(--border-s);
}


/*
Tag
*/

.tag,
.tag_ {
    border: 1px solid transparent;
    padding: 0 var(--padding-s);
    box-shadow: var(--box-shadow-m);
    border-radius: 8px;
    margin: var(--margin-s);
    font-size: var(--font-size-m);
}

.tag_:hover {
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow-l);
    cursor: default;
}


/*
Scroll
*/

.scr {
    overflow: auto;
}

.scr-y {
    overflow-y: auto;
}

.scr-x {
    overflow-x: auto;
}


/*
Margin
*/

.mrg-none {
    margin: 0;
}

.mrg-s {
    margin: var(--margin-s);
}

.mrg-m,
.mrg {
    margin: var(--margin-m);
}

.mrg-l {
    margin: var(--margin-l);
}

.mrg-xl {
    margin: var(--margin-xl);
}


/* Margin Left */

.mrgl-s {
    margin-left: var(--margin-s);
}

.mrgl-m,
.mrgl {
    margin-left: var(--margin-m);
}

.mrgl-l {
    margin-left: var(--margin-l);
}

.mrgl-xl {
    margin-left: var(--margin-xl);
}


/* Margin Right*/

.mrgr-s {
    margin-right: var(--margin-s);
}

.mrgr-m,
.mrgr {
    margin-right: var(--margin-m);
}

.mrgr-l {
    margin-right: var(--margin-l);
}

.mrgr-xl {
    margin-right: var(--margin-xl);
}


/*
Padding
*/

.pad-none {
    padding: 0;
}

.pad-s {
    padding: var(--padding-s);
}

.pad-m,
.pad {
    padding: var(--padding-m);
}

.pad-l {
    padding: var(--padding-l);
}

.pad-xl {
    padding: var(--padding-xl);
}


/* Padding Left */

.padl-s {
    padding-left: var(--padding-s);
}

.padl-m,
.padl {
    padding-left: var(--padding-m);
}

.padl-l {
    padding-left: var(--padding-l);
}

.padl-xl {
    padding-left: var(--padding-xl);
}


/* Padding Right */

.padr-s {
    padding-right: var(--padding-s);
}

.padr-m,
.padr {
    padding-right: var(--padding-m);
}

.padr-l {
    padding-right: var(--padding-l);
}

.padr-xl {
    padding-right: var(--padding-xl);
}


/* Padding Vertical*/

.padv-s {
    padding: var(--padding-s) 0;
}

.padv-m,
.padv {
    padding: var(--padding-m) 0;
}

.padv-l {
    padding: var(--padding-l) 0;
}

.padv-xl {
    padding: var(--padding-xl) 0;
}


/* Padding Horizontal */

.padh-s {
    padding: 0 var(--padding-s);
}

.padh-m,
.padh {
    padding: 0 var(--padding-m);
}

.padh-l {
    padding: 0 var(--padding-l);
}

.padh-xl {
    padding: 0 var(--padding-xl);
}


/*
Containers
*/

.div-s {
    width: var(--div-s);
    padding: var(--padding-s);
}

.div-33 {
    width: 33%;
    padding: var(--padding-s);
}

.div-m {
    width: var(--div-m);
    padding: var(--padding-s);
}

.div-50 {
    width: 50%;
    padding: var(--padding-s);
}

.div-l {
    width: var(--div-l);
    padding: var(--padding-s);
}

.div-xl {
    width: var(--div-xl);
    padding: var(--padding-s);
}

.div-xxl {
    width: var(--div-xxl);
    padding: var(--padding-s);
}

.div-auto {
    width: auto;
    height: auto;
    padding: var(--padding-s);
}

.div {
    width: 100%;
}

.div-mr {
    width: 1000px;
}

@media screen and (max-width: 800px) {
    .div,
    .div-s,
    .div-33,
    .div-m,
    .div-50,
    .div-l,
    .div-xl,
    .div,
    .div-mr {
        width: 100%;
        display: inline;
    }
}


/*
Dropdown
*/

.drp {
    font-size: var(--font-size-m);
}

.drp-c:focus .drp-cnt,
.drp:hover .drp-cnt {
    display: block;
}

.drp-btn {
    font-size: var(--font-size-m);
}

.drp-btn:hover {
    cursor: pointer;
}

.drp-cnt {
    line-height: 1em;
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    width: auto;
    box-shadow: var(--box-shadow-m);
    font-size: var(--font-size-l);
    z-index: 1;
}

.drp-title {
    margin: 0;
    padding: var(--padding-s);
    color: var(--black);
}

.drp-cnt p {
    margin-top: 0;
    font-size: var(--font-size-m);
    color: var(--grey);
}

.drp-cnt a {
    padding: var(--padding-m);
    color: var(--black);
    display: block;
    margin: 0;
}

.drp-cnt a:hover {
    background-color: var(--off-white);
    cursor: pointer;
}


/*
List
*/

.ul,
.ul-bdr,
.ul-cnt,
.ul-cnt-bdr {
    list-style-type: none;
    width: auto;
    padding-inline-start: 0;
    margin: var(--margin-l) 0;
    padding: 0;
}

.ul li,
.ul-bdr li {
    color: var(--grey);
    text-decoration: none;
    height: auto;
    padding: var(--padding-m);
    background-color: var(--smooth-white);
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.ul-cnt li,
.ul-cnt-bdr li {
    color: var(--grey);
    text-decoration: none;
    height: auto;
    padding: var(--padding-l);
    background-color: var(--smooth-white);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ul-cnt li a,
.ul-cnt-bdr li a {
    margin: var(--margin-m) 0;
}

.ul li span,
.ul-bdr li span {
    font-size: var(--font-size-s);
    color: var(--grey);
    line-height: 1em;
}

.ul-bdr li+li,
.ul-cnt-bdr li+li {
    border-top: var(--border-m);
}

.ul li:hover {
    color: var(--black);
}

.ul-bdr li:hover,
.ul-cnt li:hover,
.ul-cnt-bdr li:hover {
    color: var(--black);
}


/*
Text
*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}


/* Font Size */

.fnt-xxxs {
    font-size: var(--font-size-xxxs);
}

.fnt-xxs {
    font-size: var(--font-size-xxs);
}

.fnt-xs {
    font-size: var(--font-size-xs);
}

.fnt-s {
    font-size: var(--font-size-s);
}

.fnt-m,
.fnt {
    font-size: var(--font-size-m);
}

.fnt-l {
    font-size: var(--font-size-l);
}

.fnt-xl {
    font-size: var(--font-size-xl);
}

.fnt-xxl {
    font-size: var(--font-size-xxl);
}


/*
Flex display and direction
*/

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.flx-col-rev {
    display: flex;
    flex-direction: column-reverse;
}


/* 
Wrap
Nowrap aligns items on a single line
Wrap will push items to the next line if needed
*/

.wrp {
    flex-wrap: wrap;
}

.wrp-rev {
    flex-wrap: wrap-reverse;
}

.wrp-none {
    flex-wrap: nowrap;
}


/*
Alignment on the main axis
Horizontal for row, vertical for column
*/

.jst-between {
    justify-content: space-between;
}

.jst-around {
    justify-content: space-around;
}

.jst-center {
    justify-content: center;
}

.jst-start {
    justify-content: flex-start;
}

.jst-end {
    justify-content: flex-end;
}

.jst-base {
    justify-content: baseline;
}

.jst-stretch {
    justify-content: stretch;
}


/* 
Item alignment
How items are aligned within a single line
*/

.aln-center {
    align-items: center;
}

.aln-between {
    align-items: space-between;
}

.aln-around {
    align-items: space-around;
}

.aln-start {
    align-items: flex-start;
}

.aln-end {
    align-items: flex-end;
}

.aln-base {
    align-items: baseline;
}

.aln-stretch {
    align-items: stretch;
}


/* 
Self alignment 
How a single item is aligned within a single line
*/

.aln-self-between {
    align-self: space-between;
}

.aln-self-around {
    align-self: space-around;
}

.aln-self-start {
    align-self: flex-start;
}

.aln-self-end {
    align-self: flex-end;
}

.aln-self-base {
    align-self: baseline;
}

.aln-self-stretch {
    align-self: stretch;
}


/* 
Content alignment 
How lines are spaced.  No effect if content is only 1 line.
*/

.aln-cnt-between {
    align-content: space-between;
}

.aln-cnt-around {
    align-content: space-around;
}

.aln-cnt-start {
    align-content: flex-start;
}

.aln-cnt-end {
    align-content: flex-end;
}

.aln-cnt-base {
    align-content: baseline;
}

.aln-cnt-stretch {
    align-content: stretch;
}


/* 
Order
How items are ordered
*/

.ord-first {
    order: -1;
}