/* Themes */

:root {
    --font-family: "fantasy", sans-serif;
    --pad-s: 5px;
    --pad-m: 10px;
    --pad-l: 15px;
    --pad-xl: 20px;
    --margin-s: 5px;
    --margin-m: 10px;
    --margin-l: 15px;
    --margin-xl: 20px;
    --roobie-white: rgb(240, 240, 240);
    --roobie-off-white: rgb(218, 218, 218);
    --roobie-smooth-white: rgb(241, 241, 241);
    --roobie-black: rgb(19, 19, 19);
    --roobie-red: rgb(245, 9, 9);
    --roobie-orange: rgb(243, 162, 11);
    --roobie-purple: rgb(122, 10, 122);
    --roobie-green: rgb(24, 196, 96);
    --roobie-yellow: rgb(230, 230, 16);
    --roobie-blue: rgb(13, 13, 226);
    --roobie-grey: rgb(88, 87, 87);
    --roobie-violet: rgb(226, 108, 226);
    --roobie-pink: rgb(219, 163, 173);
    --roobie-inset-s: inset 0px 0px 1px 1px rgb(17, 17, 17, .1);
    --roobie-inset-m: inset 0px 0px 2px 2px rgb(17, 17, 17, .2);
    --roobie-inset-l: inset 0px 0px 3px 3px rgb(17, 17, 17, .4);
    --roobie-inset-xl: inset 0px 0px 5px 4px rgb(17, 17, 17, .6);
    --roobie-border-s: .5px solid var(--roobie-black);
    --roobie-border-m: 1px solid var(--roobie-black);
    --roobie-border-l: 2px solid var(--roobie-black);
    --roobie-border-xl: 4px solid var(--roobie-black);
    --roobie-box-shadow-s: 1px 1px 1px rgb(17, 17, 17, .1);
    --roobie-box-shadow-m: 2px 2px 2px rgb(17, 17, 17, .2);
    --roobie-box-shadow-l: 3px 3px 3px rgb(17, 17, 17, .4);
    --roobie-box-shadow-xl: 4px 4px 4px rgb(17, 17, 17, .6);
}


/*
Colors
*/


/*
Nav bar
*/

.nav-top {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-bottom {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-horiz {
    z-index: 100;
    height: auto;
    width: 100%;
}

.nav-vert {
    z-index: 100;
    height: 100%;
    width: auto;
}

.nav-title {
    margin: var(--margin-xl);
    font-size: 1.25em;
    color: var(--roobie-black);
}

.nav-item {
    padding: var(--pad-s);
    margin: var(--margin-m);
    width: auto;
    opacity: 75%;
    text-decoration: none;
}

.nav-item:hover {
    opacity: 100%;
    cursor: pointer;
}

.sticky {
    position: sticky;
}

.fixed {
    position: fixed;
}

.rel {
    position: relative;
}

.inl {
    display: inline;
}

.inl-blk {
    display: inline-block;
}

.inl-flx {
    display: inline-flex;
}


/* 
Outline
*/

.out-s {
    border: var(--roobie-border-s) !important;
}

.out-m,
.out {
    border: var(--roobie-border-m) !important;
}

.out-l {
    border: var(--roobie-border-l) !important;
}

.out-xl {
    border: var(--roobie-border-l) !important;
}


/*
Box shadow
*/

.box-s {
    box-shadow: var(--roobie-box-shadow-s);
}

.box-m,
.box {
    box-shadow: var(--roobie-box-shadow-m);
}

.box-l {
    box-shadow: var(--roobie-box-shadow-l);
}

.box-xl {
    box-shadow: var(--roobie-box-shadow-xl);
}


/*
Inset
*/

.in-s {
    box-shadow: var(--roobie-inset-s);
}

.in-m,
.in {
    box-shadow: var(--roobie-inset-m);
}

.in-l {
    box-shadow: var(--roobie-inset-l);
}

.in-xl {
    box-shadow: var(--roobie-inset-xl);
}


/*
Height 
*/

.ht-25 {
    height: 25%;
}

.ht-33 {
    height: 33%;
}

.ht-50 {
    height: 50%;
}

.ht-75 {
    height: 75%;
}

.ht-100 {
    height: 100%;
}


/* 
Opacity
*/

.op-25 {
    opacity: 25%;
}

.op-50 {
    opacity: 50%;
}

.op-75 {
    opacity: 75%
}

.op-100 {
    opacity: 100%;
}


/*
Float
*/

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}


/*
Border Radius
*/

.br-s {
    border-radius: 2px;
}

.br-m {
    border-radius: 4px;
}

.br-l {
    border-radius: 6px;
}

.br-xl {
    border-radius: 10px;
}

.br-xxl {
    border-radius: 14px;
}

.br-xxl {
    border-radius: 20px;
}


/*
Buttons
*/

.btn {
    width: auto;
    height: auto;
    padding: var(--pad-l);
    text-decoration: none;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
}


/*
Inputs 
*/

input:focus,
textarea:focus,
select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

.inp {
    width: auto;
    padding: var(--pad-l);
    background-color: var(--roobie-off-white);
    border-radius: 8px;
    margin: 5px;
    border: none;
    font-size: .7em;
    font: 500 15px var(--font-family);
}

.inp:focus,
.inp:active {
    border-width: 2px !important;
}


/*
Scroll
*/

.scr {
    overflow: auto;
}

.scr-y {
    overflow-y: auto;
}

.scr-x {
    overflow-x: auto;
}


/*
Containers
*/

.div-s {
    width: 20%;
    padding: var(--pad-s);
}

.div-33 {
    width: 33%;
    padding: var(--pad-s);
}

.div-m {
    width: 40%;
    padding: var(--pad-s);
}

.div-50 {
    width: 50%;
    padding: var(--pad-s);
}

.div-l {
    width: 60%;
    padding: var(--pad-s);
}

.div-xl {
    width: 80%;
    padding: var(--pad-s);
}

.div {
    width: 100%;
}

.div-mr {
    width: 1000px;
}

@media screen and (max-width: 800px) {
    .div,
    .div-s,
    .div-m,
    .div-l,
    .div-xl,
    .div,
    .div-mr {
        width: 100%;
        display: inline;
    }
}


/*
List
*/

.ul {}

.ul li {
    color: var(--roobie-grey)
}

.ol {}

.ol li {}


/* 
Spacing
*/

.spc-none {
    padding: 0;
    margin: 0;
}


/*
Text
*/

.txt-center {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-xxxs {
    font-size: .2em;
}

.txt-xxs {
    font-size: .4em;
}

.txt-xs {
    font-size: .6em;
}

.txt-s {
    font-size: .8em;
}

.txt-m,
.txt {
    font-size: 1em;
}

.txt-l {
    font-size: 1.5em;
}

.txt-xl {
    font-size: 2em;
}

.txt-xxl {
    font-size: 2.5em;
}


/*
Flex display and direction
*/

.flx-col {
    display: flex;
    flex-direction: column;
}

.flx-row {
    display: flex;
    flex-direction: row;
}

.flx-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.flx-col-rev {
    display: flex;
    flex-direction: column-reverse;
}


/* 
Wrap
Nowrap aligns items on a single line
Wrap will push items to the next line if needed
*/

.wrp {
    flex-wrap: wrap;
}

.wrp-rev {
    flex-wrap: wrap-reverse;
}

.wrp-none {
    flex-wrap: nowrap;
}


/*
Alignment on the main axis
Horizontal for row, vertical for column
*/

.jst-between {
    justify-content: space-between;
}

.jst-around {
    justify-content: space-around;
}

.jst-center {
    justify-content: center;
}

.jst-start {
    justify-content: flex-start;
}

.jst-end {
    justify-content: flex-end;
}

.jst-base {
    justify-content: baseline;
}

.jst-stretch {
    justify-content: stretch;
}


/* 
Item alignment
How items are aligned within a single line
*/

.aln-center {
    align-items: center;
}

.aln-between {
    align-items: space-between;
}

.aln-around {
    align-items: space-around;
}

.aln-start {
    align-items: flex-start;
}

.aln-end {
    align-items: flex-end;
}

.aln-base {
    align-items: baseline;
}

.aln-stretch {
    align-items: stretch;
}


/* 
Self alignment 
How a single item is aligned within a single line
*/

.aln-self-between {
    align-self: space-between;
}

.aln-self-around {
    align-self: space-around;
}

.aln-self-start {
    align-self: flex-start;
}

.aln-self-end {
    align-self: flex-end;
}

.aln-self-base {
    align-self: baseline;
}

.aln-self-stretch {
    align-self: stretch;
}


/* 
Content alignment 
How lines are spaced.  No effect if content is only 1 line.
*/

.aln-content-between {
    align-content: space-between;
}

.aln-content-around {
    align-content: space-around;
}

.aln-content-start {
    align-content: flex-start;
}

.aln-content-end {
    align-content: flex-end;
}

.aln-content-base {
    align-content: baseline;
}

.aln-content-stretch {
    align-content: stretch;
}


/* 
Order
How items are ordered
*/

.ord-first {
    order: -1;
}