.roobie {
    color: var(--green);
    font-weight: bolder;
    font-size: 1.5em;
    margin: var(--margin-m) 0;
}

.roobie span {
    color: var(--black);
}

.title span {
    color: var(--white);
}

.content {
    height: 100%;
    overflow: auto;
}

.nav-head {
    color: var(--soft-blue);
}


/*
Dividers
*/

.row-divider {
    height: 30px;
    width: 100%;
}

.col-divider {
    height: 100%;
    width: 30px;
}


/*
Body styles
*/

body {
    background-color: var(--white);
}

html,
body {
    height: 100%;
    overflow: hidden;
    font-family: var(--font-family);
}

xmp {
    color: var(--soft-blue);
    white-space: normal;
}


/*
Headings
*/

h1 {
    color: var(--white);
    margin: var(--margin-m) 0;
    font-size: var(--font-size-xxxl) !important;
}

h1+p {
    color: var(--smooth-white);
}

h2 {
    color: var(--grey);
    margin: var(--margin-m) 0;
}

h3 {
    color: var(--green);
    margin: var(--margin-m) 0;
}

h4 {
    color: var(--soft-blue);
    margin: var(--margin-s) 0;
}

.docs h4 {
    margin-right: var(--margin-xxxxl);
    width: 200px;
}

.docs p {
    width: 400px
}

p {
    margin: var(--margin-s) 0;
}

.ul {
    margin: 0;
}

b {
    border-radius: var(--border-radius-xl);
    background-color: var(--off-white);
    padding: var(--padding-s);
    color: var(--soft-blue);
    margin: var(--margin-s);
}


/*Navbar*/

nav {
    background-color: var(--off-white);
}

nav a {
    color: var(--black);
}

.active {
    border-left: 4px solid var(--soft-blue);
    opacity: 100% !important;
}