.itrash {
    background-image: url(icons/elusive-trash-black.svg)
}

.iplus {
    background-image: url(icons/elusive-plus-black.svg)
}

.iminus {
    background-image: url(icons/elusive-minus-black.svg)
}

.iheart-empty {
    background-image: url(icons/elusive-heart-empty-black.svg)
}

.iheart {
    background-image: url(icons/elusive-heart-black.svg)
}

.imail {
    background-image: url(icons/elusive-mail-black.svg)
}

.isearch {
    background-image: url(icons/elusive-search-black.svg)
}

.istar-empty {
    background-image: url(icons/elusive-star-empty-black.svg)
}

.istar {
    background-image: url(icons/elusive-star-black.svg)
}

.iuser {
    background-image: url(icons/elusive-user-black.svg)
}

.iphone {
    background-image: url(icons/elusive-phone-black.svg)
}

.iattach {
    background-image: url(icons/elusive-attach-black.svg)
}

.iright {
    background-image: url(icons/elusive-right-black.svg)
}

.ileft {
    background-image: url(icons/elusive-left-black.svg)
}

.icog-2 {
    background-image: url(icons/elusive-cog-black.svg)
}

.ihelp {
    background-image: url(icons/elusive-help-black.svg)
}

.ifacebook {
    background-image: url(icons/elusive-facebook-black.svg)
}

.ilinkedin {
    background-image: url(icons/elusive-linkedin-black.svg)
}

.ileft-open {
    background-image: url(icons/elusive-left-open-black.svg)
}

.iok {
    background-image: url(icons/elusive-ok-black.svg)
}

.icancel {
    background-image: url(icons/elusive-cancel-black.svg)
}

.iright-open {
    background-image: url(icons/elusive-right-open-black.svg)
}

.iup-open {
    background-image: url(icons/elusive-up-open-black.svg)
}

.idown-open {
    background-image: url(icons/elusive-down-open-black.svg)
}

.ipause {
    background-image: url(icons/elusive-pause-black.svg)
}

.istop {
    background-image: url(icons/elusive-stop-black.svg)
}

.iplay {
    background-image: url(icons/elusive-play-black.svg)
}

.icw {
    background-image: url(icons/elusive-cw-black.svg)
}

.iup {
    background-image: url(icons/elusive-up-black.svg)
}

.idown {
    background-image: url(icons/elusive-down-black.svg)
}

.izoom-in {
    background-image: url(icons/elusive-zoom-in-black.svg)
}

.izoom-out {
    background-image: url(icons/elusive-zoom-out-black.svg)
}

.ieject {
    background-image: url(icons/elusive-eject-black.svg)
}

.ialign-right {
    background-image: url(icons/elusive-align-right-black.svg)
}

.ialign-center {
    background-image: url(icons/elusive-align-center-black.svg)
}

.ialign-left {
    background-image: url(icons/elusive-align-left-black.svg)
}

.ialign-justify {
    background-image: url(icons/elusive-align-justify-black.svg)
}

.igithub-text {
    background-image: url(icons/elusive-github-text-black.svg)
}

.igithub {
    background-image: url(icons/elusive-github-black.svg)
}

.iflag {
    background-image: url(icons/elusive-flag-black.svg)
}

.ilocation {
    background-image: url(icons/elusive-location-black.svg)
}

.ithumbs-down {
    background-image: url(icons/elusive-thumbs-down-black.svg)
}

.ithumbs-up {
    background-image: url(icons/elusive-thumbs-up-black.svg)
}

.ibell {
    background-image: url(icons/elusive-bell-black.svg)
}

.icomment {
    background-image: url(icons/elusive-comment-black.svg)
}