<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Input</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/input.css">
</head>

<body class="txt-150em spc-none">
    <div class="content">
        <h2>Input</h2>
        <h3>Colored</h3>
        <div class="colored flx-row jst-center">
            <input class="inp" placeholder="Click me"></input>
            <input class="inp" placeholder="Resources"></input>
            <input class="inp" placeholder="Details"></input>
            <input class="inp" placeholder="Good Luck"></input>
        </div>
        <h3>Outline</h3>
        <div class="flx-row jst-center">
            <input class="inp inp-out" placeholder="Click me"></input>
            <input class="inp inp-out" placeholder="Resources"></input>
            <input class="inp inp-out" placeholder="Details"></input>
            <input class="inp inp-out" placeholder="Good Luck"></input>
        </div>
        <h3>Inset</h3>
        <div class="flx-row jst-center">
            <input class="inp inp-in" placeholder="Click me"></input>
            <input class="inp inp-in" placeholder="Resources"></input>
            <input class="inp inp-in" placeholder="Details"></input>
            <input class="inp inp-in" placeholder="Good Luck"></input>
        </div>
    </div>
</body>

</html>