<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Input</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/input.css">
</head>

<body class="txt-150em zero-space">
    <div class="content">
        <h2>Input</h2>
        <h3>Colored</h3>
        <div class="colored flx-row jst-center">
            <a class="input">Click me</a>
            <a class="input">Resources</a>
            <a class="input">Details</a>
            <a class="input">Good Luck</a>
            <a class="input">Normal</a>
            <a class="input">Update</a>
        </div>
        <h3>Outline</h3>
        <div class="flx-row jst-center">
            <a class="input input-out">Click me</a>
            <a class="input input-out">Resources</a>
            <a class="input input-out">Details</a>
            <a class="input input-out">Good Luck</a>
            <a class="input input-out">Normal</a>
            <a class="input input-out">Update</a>
        </div>
        <h3>Inset</h3>
        <div class="flx-row jst-center">
            <a class="input input-in">Click me</a>
            <a class="input input-in">Resources</a>
            <a class="input input-in">Details</a>
            <a class="input input-in">Good Luck</a>
            <a class="input input-in">Normal</a>
            <a class="input input-in">Update</a>
        </div>
    </div>
</body>

</html>