<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Input</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./../../images/icons/gem-stone-1.svg">
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="input.css">
</head>

<body class="fnt-l spc-none">
    <nav class="nav-col flx-col flt-left jst-between aln-center box txt-center">
        <div class="div-xl flx-col aln-start jst-center">
            <div class="roobie"><span>Roo</span>bie</div>
            <a class="nav-item" href="../../index.html">Home</a>
            <a class="nav-item" href="../../components/container/container.html">Container</a>
            <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
            <a class="nav-item" href="../../components/button/button.html">Button</a>
            <a class="nav-item active" href="../../components/input/input.html">Input</a>
            <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
            <a class="nav-item" href="../../components/list/list.html">List</a>
            <a class="nav-item" href="../../components/dropdown/dropdown.html">Dropdown</a>
            <a class="nav-item" href="../../components/tag/tag.html">Tag</a>
        </div>
        <div class="flx-col aln-center center">
            <a class="nav-item">&copy; Roobie 2021</a>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div bg-soft-blue padv-xl flx-col aln-center box">
                <div class="div-xl">
                    <h1>Input</h1>
                    <p>Improved input styles from browser defaults.</p>
                </div>
            </div>
            <div class="div-xl flx-col aln-start jst-start txt-left">
                <h3>Basic</h3>
                <div class="div">
                    <div class="div">
                        <p><b>inp</b> Basic input styles</p>
                        <p><b>bdr-none</b> No border</p>
                    </div>
                    <div class="mrg-v flx-row jst-start wrp bg-off-white pad-xl br">
                        <input class="inp bdr-none" placeholder="Name"></input>
                        <input class="inp" placeholder="Input"></input>
                    </div>
                </div>

                <h3>Raised</h3>
                <div class="div">
                    <div class="div">
                        <p><b>box</b> Box shadow</p>
                        <p><b>box-h</b> Box shadow with hover</p>
                    </div>
                    <div class="mrg-v flx-row jst-start wrp bg-off-white pad-xl br">
                        <input class="inp box bdr-none" placeholder="Enter your email"></input>
                        <input class="inp bdr-none box-h" placeholder="Enter password"></input>
                        <input class="inp box-h" placeholder="Type response"></input>
                    </div>
                </div>
                <h3>Inset</h3>
                <div class="div">
                    <div class="div">
                        <p><b>in</b> Inset</p>
                        <p><b>in-h</b> Inset with hover</p>
                    </div>
                    <div class="mrg-v flx-row jst-start wrp bg-off-white pad-xl br">
                        <input class="inp in bdr-none" placeholder="What's your question?"></input>
                        <input class="inp bdr-none in-h" placeholder="Enter something"></input>
                        <input class="inp in-h" placeholder="Why is the sky blue?"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>