.bdr0 {
    border: none !important;
}

.bdr1 {
    border: var(--bdr1);
}

.bdr2,
.bdr {
    border: var(--bdr2);
}

.bdr3 {
    border: var(--bdr3);
}

.bdr4 {
    border: var(--bdr4);
}

.bdr5 {
    border: var(--bdr5);
}

.bdr6 {
    border: var(--bdr6);
}


/* Shade 1 */

.bdr-white {
    border-color: var(--white) !important;
}

.bdr-black {
    border-color: var(--black) !important;
}

.bdr-grey {
    border-color: var(--grey) !important;
}

.bdr-red {
    border-color: var(--red) !important;
}

.bdr-orange {
    border-color: var(--orange) !important;
}

.bdr-yellow {
    border-color: var(--yellow) !important;
}

.bdr-green {
    border-color: var(--green) !important;
}

.bdr-blue {
    border-color: var(--blue) !important;
}

.bdr-indigo {
    border-color: var(--indigo) !important;
}

.bdr-violet {
    border-color: var(--violet) !important;
}


/* Shade 2 */

.bdr-white2 {
    border-color: var(--white2) !important;
}

.bdr-black2 {
    border-color: var(--black2) !important;
}

.bdr-grey2 {
    border-color: var(--grey2) !important;
}

.bdr-red2 {
    border-color: var(--red2) !important;
}

.bdr-orange2 {
    border-color: var(--orange2) !important;
}

.bdr-yellow2 {
    border-color: var(--yellow2) !important;
}

.bdr-green2 {
    border-color: var(--green2) !important;
}

.bdr-blue2 {
    border-color: var(--blue2) !important;
}

.bdr-indigo2 {
    border-color: var(--indigo2) !important;
}

.bdr-violet2 {
    border-color: var(--violet2) !important;
}


/* Shade 3 */

.bdr-white3 {
    border-color: var(--white3) !important;
}

.bdr-black3 {
    border-color: var(--black3) !important;
}

.bdr-grey3 {
    border-color: var(--grey3) !important;
}

.bdr-red3 {
    border-color: var(--red3) !important;
}

.bdr-orange3 {
    border-color: var(--orange3) !important;
}

.bdr-yellow3 {
    border-color: var(--yellow3) !important;
}

.bdr-green3 {
    border-color: var(--green3) !important;
}

.bdr-blue3 {
    border-color: var(--blue3) !important;
}

.bdr-indigo3 {
    border-color: var(--indigo3) !important;
}

.bdr-violet3 {
    border-color: var(--violet3) !important;
}