.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: var(--br3);
    padding: var(--pad4);
    margin: var(--mrg1);
}

.alert:after {
    align-self: flex-end;
    content: "\2715";
    color: var(--t1);
    font-family: var(--fntf1);
    font-size: var(--fnts4);
    cursor: pointer;
}


/* Modifiers */

.alert-primary {
    background-color: var(--primary);
}

.alert-secondary {
    background-color: var(--secondary);
}

.alert-outline {
    border: var(--bdr1);
}

.alert-success {
    background-color: var(--success);
    color: var(--black);
}

.alert-warning {
    background-color: var(--warning);
    color: var(--black);
}

.alert-danger {
    background-color: var(--danger);
    color: var(--black);
}

.alert-info {
    background-color: var(--info);
    color: var(--black);
}