.btn,
.btnh,
.btnp,
.btns {
    width: auto;
    height: auto;
    padding: var(--pad2);
    text-decoration: none;
    border-radius: var(--br2);
    margin: var(--mrg1);
    cursor: pointer;
    color: var(--t2);
    display: inline-flex;
    border: none;
    font-size: var(--fnts3);
    font-family: var(--fntf1);
}

.btn,
.btnh {
    background-color: var(--bg1);
    border: var(--bdr1);
}

.btnp {
    background-color: var(--primary);
}

.btns {
    background-color: var(--secondary);
}

.btnh:hover,
.btnp:hover,
.btns:hover {
    background-color: currentBackgroundColor;
    filter: brightness(90%);
}