.btn {
    width: auto;
    height: auto;
    padding: var(--pad3);
    text-decoration: none;
    border-radius: var(--br2);
    margin: var(--mrg1);
    cursor: pointer;
    color: var(--t2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: var(--fnts3);
    font-family: var(--fntf1);
    background-color: var(--bg1);
}

.btn:hover {
    background-color: currentBackgroundColor;
    filter: brightness(95%);
}


/* Modifiers */

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-outline {
    border: var(--bdr1);
}

.btn-success {
    background-color: var(--success);
    color: var(--black);
}

.btn-warning {
    background-color: var(--warning);
    color: var(--black);
}

.btn-danger {
    background-color: var(--danger);
    color: var(--black);
}

.btn-info {
    background-color: var(--info);
    color: var(--black);
}