.btn {
    width: auto;
    height: auto;
    padding: var(--pad2);
    text-decoration: none;
    border-radius: var(--br3);
    margin: var(--mrg1);
    cursor: pointer;
    color: var(--t2);
    background-color: var(--bg5);
}

.btn:hover {
    opacity: 85%;
}