.btn,
.btnh,
.btnp,
.btns,
.btnt {
    width: auto;
    height: auto;
    padding: var(--pad2);
    text-decoration: none;
    border-radius: var(--br2);
    margin: var(--mrg1);
    cursor: pointer;
    color: var(--t2);
    display: inline-block;
}

.btn,
.btnh {
    background-color: var(--bg5);
}

.btnp {
    background-color: var(--primary);
}

.btns {
    background-color: var(--secondary);
}

.btnt {
    background-color: var(--tertiary);
}

.btnh:hover,
.btnp:hover,
.btns:hover,
.btnt:hover {
    opacity: 85%;
}