.padva {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

.padv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.padv1 {
    padding-top: var(--pad1) !important;
    padding-bottom: var(--pad1) !important;
}

.padv2,
.padv {
    padding-top: var(--pad2) !important;
    padding-bottom: var(--pad2) !important;
}

.padv3 {
    padding-top: var(--pad3) !important;
    padding-bottom: var(--pad3) !important;
}

.padv4 {
    padding-top: var(--pad4) !important;
    padding-bottom: var(--pad4) !important;
}

.padv5 {
    padding-top: var(--pad5) !important;
    padding-bottom: var(--pad5) !important;
}

.padv6 {
    padding-top: var(--pad6) !important;
    padding-bottom: var(--pad6) !important;
}