.btn {
    background-color: var(--roobie-white);
    color: var(--roobie-grey);
}

.btn:hover {
    color: var(--roobie-black);
}

.colored {
    color: rgb(0, 0, 0, .7);
    background-color: var(--roobie-green);
}