<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Button</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/button.css">
</head>

<body class="txt-150em zero-space">
    <div class="content">
        <h2>Button</h2>
        <h3>Colored</h3>
        <div class="colored flx-row just-center">
            <a class="btn">Click me</a>
            <a class="btn">Resources</a>
            <a class="btn">Details</a>
            <a class="btn">Good Luck</a>
            <a class="btn">Normal</a>
            <a class="btn">Update</a>
        </div>
        <h3>Outline</h3>
        <div class="flx-row just-center">
            <a class="btn btn-out">Click me</a>
            <a class="btn btn-out">Resources</a>
            <a class="btn btn-out">Details</a>
            <a class="btn btn-out">Good Luck</a>
            <a class="btn btn-out">Normal</a>
            <a class="btn btn-out">Update</a>
        </div>
        <h3>Inset</h3>
        <div class="flx-row just-center">
            <a class="btn btn-in">Click me</a>
            <a class="btn btn-in">Resources</a>
            <a class="btn btn-in">Details</a>
            <a class="btn btn-in">Good Luck</a>
            <a class="btn btn-in">Normal</a>
            <a class="btn btn-in">Update</a>
        </div>
    </div>
</body>

</html>