.btn {
    color: rgb(255, 255, 255, .7);
}

.btn:hover {
    color: white;
}

.colored {
    color: rgb(0, 0, 0, .7);
    background-color: var(--roobie-green);
}

.colored:hover {
    color: var(--roobie-black);
}