<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Button</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./../../images/icons/gem-stone-1.svg">
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="button.css">
</head>

<body class="fnt-l pad-none mrg-none">
    <nav class="nav-col flx-col flt-left jst-between aln-center box txt-center">
        <div class="div-xl flx-col aln-start jst-center">
            <div class="roobie"><span>Roo</span>bie</div>
            <a class="nav-item" href="../../index.html">Home</a>
            <a class="nav-item" href="../../components/container/container.html">Container</a>
            <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
            <a class="nav-item active" href="../../components/button/button.html">Button</a>
            <a class="nav-item" href="../../components/input/input.html">Input</a>
            <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
            <a class="nav-item" href="../../components/list/list.html">List</a>
            <a class="nav-item" href="../../components/dropdown/dropdown.html">Dropdown</a>
            <a class="nav-item" href="../../components/tag/tag.html">Tag</a>
        </div>
        <div class="flx-col aln-center center">
            <a class="nav-item">&copy; Roobie 2021</a>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div bg-soft-blue padv-xl flx-col aln-center box">
                <div class="div-xl">
                    <h1>Button</h1>
                    <p>Simple button styles that can be applied to most elements.</p>
                </div>
            </div>
            <div class="div-xl flx-col aln-start jst-start txt-left">
                <h3>Basic</h3>
                <div class="div">
                    <div class="div flx-col">
                        <p><b>btn</b> Basic button styles</p>
                        <p><b>bdr-none</b> No border</p>
                    </div>
                    <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                        <a class="btn black">Button</a>
                        <a class="btn bdr-none white bg-black">Button</a>
                    </div>
                </div>
                <h3>Raised</h3>
                <div class="div">
                    <div class="div flx-col">
                        <p><b>box</b> Box shadow</p>
                        <p><b>box_</b> Box shadow with hover</p>
                    </div>
                    <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                        <a class="btn box black bdr-none">Purchase</a>
                        <div class="btn box_ black">View</div>
                        <p class="btn box_ bg-soft-blue white">Update</p>
                    </div>
                </div>
                <h3>Inset</h3>
                <div class="div">
                    <div class="div flx-col">
                        <p><b>in</b> Inset</p>
                        <p><b>in_</b> Inset with hover</p>
                    </div>
                    <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                        <span class="btn in black bdr-none">Apply Now</span>
                        <span class="btn in_ black">Activate</span>
                        <span class="btn in_ bg-grey white">Deactivated</span>
                    </div>
                </div>
            </div>
            <div class="row-divider"></div>
        </div>
    </div>
</body>

</html>