.btn {
    color: rgb(255, 255, 255, .75);
}

.btn:hover {
    color: white;
}

.colored .btn {
    color: rgb(0, 0, 0, .75);
    background-color: var(--roobie-green);
}

.colored .btn:hover {
    color: var(--roobie-black);
}