<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Buttons</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/button.css">
</head>

<body class="txt-150em zero-space">
    <div class="content">
        <h2>Buttons</h2>
        <h3>Outline</h3>
        <div class="colored flx-row just-center">
            <a class="btn">Click me</a>
            <a class="btn">Resources</a>
            <a class="btn">Details</a>
            <a class="btn">Good Luck</a>
            <a class="btn">Normal</a>
            <a class="btn">Update</a>
        </div>
        <h3>Outline</h3>
        <div class="flx-row just-center">
            <a class="btn btn-outline">Click me</a>
            <a class="btn btn-outline">Resources</a>
            <a class="btn btn-outline">Details</a>
            <a class="btn btn-outline">Good Luck</a>
            <a class="btn btn-outline">Normal</a>
            <a class="btn btn-outline">Update</a>
        </div>
        <h3>Inset</h3>
        <div class="flx-row just-center">
            <a class="btn btn-inset">Click me</a>
            <a class="btn btn-inset">Resources</a>
            <a class="btn btn-inset">Details</a>
            <a class="btn btn-inset">Good Luck</a>
            <a class="btn btn-inset">Normal</a>
            <a class="btn btn-inset">Update</a>
        </div>
    </div>
</body>

</html>