/* 
Name: Height
Prefix: ht
Dev: Height of an element
*/

.hta {
    height: auto !important;
}

.ht25 {
    height: 25% !important;
}

.ht33 {
    height: 33% !important;
}

.ht50 {
    height: 50% !important;
}

.ht75 {
    height: 75% !important;
}

.ht {
    height: 100% !important;
}