:root[data-theme="medium"] {
    /*Body*/
    --body: black;
    --body-bg: white;
    /*Navbar*/
    --nav: white;
    --nav-bg: white;
    --nav-title: white;
    --nav-subtitle: rgb(65, 145, 236);
    --nav-active: white;
    /*Headings*/
    --h1: white;
    --h2: white;
    --h3: white;
    --h4: white;
    --h5: white;
    --h6: white;
    /*Links*/
    --a: white;
    --a-bg: white;
    --a-visited: white;
    --a-active: white;
    /*Colors*/
    --white: rgb(240, 240, 240);
    --off-white: rgb(228, 228, 228);
    --smooth-white: rgb(241, 241, 241);
    --black: rgb(19, 19, 19);
    --red: rgb(245, 9, 9);
    --soft-red: rgba(170, 31, 31, 0.9);
    --orange: rgb(243, 162, 11);
    --purple: rgb(122, 10, 122);
    --green: rgb(24, 196, 96);
    --yellow: rgb(230, 230, 16);
    --blue: rgb(13, 13, 226);
    --soft-blue: rgb(67, 67, 221, .9);
    --grey: rgb(88, 87, 87);
    --violet: rgb(226, 108, 226);
    --pink: rgb(219, 163, 173);
    /*Special Colors*/
    --success: green;
    --caution: yellow;
    --error: red;
    --signifier: purple;
}