:root[data-theme="dark"] {
    --title: white;
    --subtitle: rgb(65, 145, 236);
    --primary: #e4e3e3;
    --secondary: rgb(65, 145, 236);
    --tertiary: #161616;
    --intermediate: rgb(177, 177, 177);
    --accent: rgb(39, 39, 39);
    --accent-secondary: rgb(63, 63, 63);
    --nav: #2d2d2d;
    --nav-active: var(--subtitle);
    --background: #1d1d1d;
    --error: rgb(200, 47, 47);
    --success: rgb(30, 167, 30);
    --tier1: white;
    --tier2: #CD7F32;
    --tier3: #c0c0c0;
    --tier4: #d4af37;
    --tier5: var(--secondary);
    --box-shadow: 2px 2px 6px rgb(34, 34, 34, .6);
    --chart-one: rgb(65, 145, 236);
    --chart-two: rgb(194, 43, 23);
    --chart-three: rgb(221, 182, 8);
    --chart-four: rgb(221, 151, 0);
}