/* Containers with auto width */

.div-auto {
    width: auto;
    height: auto;
    padding: var(--pad2);
}

.div-25 {
    width: 25%;
    height: auto;
    padding: var(--pad2);
}

.div-33 {
    width: 33%;
    height: auto;
    padding: var(--pad2);
}

.div-50 {
    width: 50%;
    height: auto;
    padding: var(--pad2);
}

.div-75 {
    width: 75%;
    height: auto;
    padding: var(--pad2);
}

.div {
    width: 100%;
    height: auto;
}


/* Container media queries */

@media screen and (max-width: 800px) {
    .div-auto,
    .div-25,
    .div-33,
    .div-50,
    .div-75,
    .div {
        display: inline-block;
    }
}