<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Navigation</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/nav.css">
</head>

<body class="txt-150em zero-space">
    <div class="content">
        <h2>Navigation</h2>
    </div>
    <nav class="horiz-nav flx-row just-between align-center box-shadow nav-background">
        <div class="flx-row">
            <a class="nav-item" href="all-nav.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
        <div class="flx-row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="horiz-nav flx-row just-between align-center box-shadow nav-background">
        <div class="flx-row">
            <a class="nav-item" href="all-nav.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
        <div class="flx-row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="horiz-nav flx-row just-around align-center box-shadow nav-background">
        <div class="flx-row">
            <a class="nav-item" href="all-nav.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="horiz-nav flx-row just-around align-center box-shadow nav-background">
        <div class="contain-mr flx-row just-between">
            <div class="flx-row">
                <a class="nav-item" href="all-nav.html">All</a>
                <a class="nav-item" href="top-nav.html">Top</a>
                <a class="nav-item" href="left-nav.html">Left</a>
                <a class="nav-item" href="right-nav.html">Right</a>
                <a class="nav-item" href="bottom-nav.html">Bottom</a>
            </div>
            <div class="flx-row">
                <a class="nav-item">user@roobie.net</a>
            </div>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="horiz-nav flx-row just-end align-center box-shadow nav-background">
        <div class="flx-row">
            <a class="nav-item" href="all-nav.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
</body>

</html>