<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Left Navigation</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/demo-styles.css">
</head>

<body class="txt-150em zero-space">
    <nav class="vert-nav float-left flx-col-nowrap just-between align-center box-shadow txt-center">
        <div class="flx-col">
            <a class="nav-item" href="all-nav.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
        <div class="flx-col">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>

    <div class="content">
        <h2>Left Navigation</h2>
    </div>

</body>

</html>