<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Navbar</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="styles/nav.css">
</head>

<body class="txt-l spc-none">
    <nav class="nav-top flx-row aln-center box-shadow">
        <div class="roobie">Roobie</div>
        <a class="nav-item" href="../../index.html">Home</a>
        <a class="nav-item active" href="../../components/navbar/navbar.html">Navbar</a>
        <a class="nav-item" href="../../components/button/button.html">Button</a>
        <a class="nav-item" href="../../components/input/input.html">Input</a>
        <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
    </nav>
    <div class="content">
        <h2>Navbar</h2>
    </div>
    <nav class="nav-horiz flx-row jst-between aln-center box-shadow">
        <div class="flx-row">
            <a class="nav-item" href="navbar.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
        <div class="flx-row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="nav-horiz flx-row jst-between aln-center box-shadow">
        <div class="flx-row">
            <a class="nav-item" href="navbar.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
        <div class="flx-row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="nav-horiz flx-row jst-around aln-center box-shadow">
        <div class="flx-row">
            <a class="nav-item" href="navbar.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="nav-horiz flx-row jst-around aln-center box-shadow">
        <div class="div-mr flx-row jst-between">
            <div class="flx-row">
                <a class="nav-item" href="navbar.html">All</a>
                <a class="nav-item" href="top-nav.html">Top</a>
                <a class="nav-item" href="left-nav.html">Left</a>
                <a class="nav-item" href="right-nav.html">Right</a>
                <a class="nav-item" href="bottom-nav.html">Bottom</a>
            </div>
            <div class="flx-row">
                <a class="nav-item">user@roobie.net</a>
            </div>
        </div>
    </nav>
    <div class="row-divider"></div>
    <nav class="nav-horiz flx-row jst-end aln-center box-shadow">
        <div class="flx-row">
            <a class="nav-item" href="navbar.html">All</a>
            <a class="nav-item" href="top-nav.html">Top</a>
            <a class="nav-item" href="left-nav.html">Left</a>
            <a class="nav-item" href="right-nav.html">Right</a>
            <a class="nav-item" href="bottom-nav.html">Bottom</a>
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>
</body>

</html>