<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Top Navigation</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="nav.css">
</head>

<body class="txt-l spc-none">
    <nav class="nav-top flx-row jst-between aln-center box-shadow">
        <div class="flx-row">
            <div class="roobie">Roobie</div>
            <a class="nav-item" href="navbar.html">All</a>
            <a class="nav-item" href="navbar-top.html">Top</a>
            <a class="nav-item" href="navbar-left.html">Left</a>
            <a class="nav-item" href="navbar-right.html">Right</a>
            <a class="nav-item" href="navbar-bottom.html">Bottom</a>
        </div>
        <div class="flx-row">
            <a class="nav-item">user@roobie.net</a>
        </div>
    </nav>

    <div class="content">
        <h1>Roobie</h1>
        <h2>Top Navigation</h2>
    </div>

</body>

</html>