/* Back */

@import 'back/back-bottom.css';
@import 'back/back-top.css';
@import 'back/back-left.css';
@import 'back/back-right.css';

/* Bounce */

@import 'bounce/bounce.css';
@import 'bounce/bounce-top.css';
@import 'bounce/bounce-bottom.css';
@import 'bounce/bounce-right.css';
@import 'bounce/bounce-left.css';

/* Fade */

@import 'fade/fade-bottom-left.css';
@import 'fade/fade-bottom-plus.css';
@import 'fade/fade-bottom-right.css';
@import 'fade/fade-bottom.css';
@import 'fade/fade-left-plus.css';
@import 'fade/fade-left.css';
@import 'fade/fade-right-plus.css';
@import 'fade/fade-right.css';
@import 'fade/fade-top-left.css';
@import 'fade/fade-top-plus.css';
@import 'fade/fade-top-right.css';
@import 'fade/fade-top.css';

/* Flip */

@import 'flip/flip.css';
@import 'flip/flip-x.css';
@import 'flip/flip-y.css';
@import 'flip/flip-out-x.css';
@import 'flip/flip-out-y.css';

/* Misc */

@import 'misc/flash.css';
@import 'misc/heartbeat.css';
@import 'misc/hinge.css';
@import 'misc/jello.css';
@import 'misc/pop.css';
@import 'misc/pulse.css';
@import 'misc/rabid.css';
@import 'misc/roll-out.css';
@import 'misc/roll.css';
@import 'misc/shake.css';
@import 'misc/stretch.css';
@import 'misc/swing.css';
@import 'misc/wobble.css';

/* Rotate */

@import 'rotate/rotate-bottom-left.css';
@import 'rotate/rotate-top-left.css';
@import 'rotate/rotate-top-right.css';
@import 'rotate/rotate-bottom-right.css';
@import 'rotate/rotate.css';

/* Slide */

@import 'slide/slide-bottom.css';
@import 'slide/slide-top.css';
@import 'slide/slide-left.css';
@import 'slide/slide-right.css';

/* Zoom */

@import 'zoom/zoom-bottom.css';
@import 'zoom/zoom-top.css';
@import 'zoom/zoom-left.css';
@import 'zoom/zoom-right.css';
@import 'zoom/zoom.css';