.select {
    position: relative;
    font-family: Arial;
    margin: var(--mrg1);
    width: 200px;
    font-family: var(--fntf1);
}


/* Hide original select box */

.select select {
    display: none;
}

.select-selected {
    background-color: var(--primary);
    border-radius: var(--br2);
}

.is-selected,
.select-items div:hover {
    background-color: var(--primary);
    filter: brightness(120%);
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: var(--t1) transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-active:after {
    border-color: transparent transparent var(--t1) transparent;
    top: 10px;
}


/* style the items (options), including the select-selected item: */

.select-items div,
.select-selected {
    color: var(--t1);
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: var(--primary);
    top: 100%;
    left: 0;
    right: 0;
    z-index: var(--z6);
    border-radius: var(--br2);
}