/*
Nav bar
*/

.horizontal-nav {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.vertical-nav {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
}

.nav-container {
    height: 100%;
}

.nav-item {
    padding: 10px;
    margin: 10px;
}


/*
Box shadow
*/

.box-shadow {
    box-shadow: 2px 2px 6px rgb(34, 34, 34, .6);
}


/*
Flex display and direction
*/

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-row-reverse {
    display: flex;
    flex-flow: row-reverse wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.flex-column-reverse {
    display: flex;
    flex-flow: column-reverse wrap;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-row-reverse-nowrap {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

.flex-column-reverse-nowrap {
    display: flex;
    flex-flow: column-reverse nowrap;
}


/* 
Wrap
Nowrap aligns items on a single line
Wrap will push items to the next line
*/

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.no-wrap {
    flex-wrap: nowrap;
}


/*
Alignment on the main axis
Horizontal for row, vertical for column
*/

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-baseline {
    justify-content: baseline;
}

.justify-stretch {
    justify-content: stretch;
}


/* 
Item alignment
How items are aligned within a single line
*/

.align-center {
    align-items: center;
}

.align-between {
    align-items: space-between;
}

.align-around {
    align-items: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}


/* 
Self alignment 
How a single item is aligned within a single line
*/

.align-self-between {
    align-self: space-between;
}

.align-self-around {
    align-self: space-around;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}


/* 
Content alignment 
How lines are spaced.  No effect if content is only 1 line.
*/

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-baseline {
    align-content: baseline;
}

.align-content-stretch {
    align-content: stretch;
}


/* 
Order
How items are ordered
*/

.order-first {
    order: -1;
}