.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-baseline {
    justify-content: baseline;
}

.justify-stretch {
    justify-content: stretch;
}

.align-between {
    align-items: space-between;
}

.align-around {
    align-items: space-around;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

.align-self-between {
    align-self: space-between;
}

.align-self-around {
    align-self: space-around;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.order-first {
    order: -1;
}