<div class="div bg-softblue padv flx-col aln-center box">
    <div class="div-xl">
        <h1>Button</h1>
        <p>Simple button styles that can be applied to most elements.</p>
    </div>
</div>
<div class="div flx-col aln-center">
    <div class="div-xl flx-col aln-start jst-start txt-left mrgv">
        <h3>Basic</h3>
        <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
            <a class="btn">Button</a>
            <a class="btn bdr-none">Button</a>
        </div>
        <h3>Raised</h3>
        <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
            <a class="btn box black bdr-none">Purchase</a>
            <div class="btn box_ black">View</div>
            <p class="btn box_ bg-softblue">Update</p>
        </div>
        <h3>Inset</h3>
        <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
            <span class="btn in black bdr-none">Apply Now</span>
            <span class="btn in_ black">Activate</span>
            <span class="btn in_ bg-grey">Deactivated</span>
        </div>
    </div>
</div>