<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Button</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./../images/icons/gem-stone-1.svg">
    <link rel="stylesheet" href="../roobie.css">
    <link rel="stylesheet" href="../roobie-demo.css">
</head>

<body class="fnt-l pad-none mrg-none">
    <nav class="nav-col flx-col flt-left aln-left box">
        <div class="roobie padl"><span>Roo</span>bie</div>
        <div class="div ht flx-col aln-start jst-center scr">
            <div class="div ht flx-col jst-start">
                <div class="flx-col aln-start padl">
                    <a class="nav-item" href="">Home</a>
                </div>
                <h4 class="nav-head mrgl">Components</h4>
                <div class="flx-col bg-white aln-start jst-start scr mrgv-m padl">
                    <a class="nav-item active" href="../button/button.html">Button</a>
                    <a class="nav-item" href="../container/container.html">Container</a>
                    <a class="nav-item" href="../dropdown/dropdown.html">Dropdown</a>
                    <a class="nav-item" href="../grid/grid.html">Grid</a>
                    <a class="nav-item" href="../input/input.html">Input</a>
                    <a class="nav-item" href="../list/list.html">List</a>
                    <a class="nav-item" href="../navbar/navbar.html">Navbar</a>
                    <a class="nav-item" href="../tag/tag.html">Tag</a>
                </div>
                <h4 class="nav-head mrgl">Classes</h4>
                <div class="flx-col bg-white aln-start jst-start scr mrgv-m padl">
                    <a class="nav-item" href="../all.html">All</a>
                    <a class="nav-item" href="../border.html">Border</a>
                    <a class="nav-item" href="../box-shadow.html">Box Shadow</a>
                    <a class="nav-item" href="../button.html">Button</a>
                    <a class="nav-item" href="../colors.html">Colors</a>
                    <a class="nav-item" href="../container.html">Container</a>
                    <a class="nav-item" href="../cursor.html">Cursor</a>
                    <a class="nav-item" href="../display.html">Display</a>
                    <a class="nav-item" href="../dropdown.html">Dropdown</a>
                    <a class="nav-item" href="../flex.html">Flex</a>
                    <a class="nav-item" href="../float.html">Float</a>
                    <a class="nav-item" href="../font.html">Font</a>
                    <a class="nav-item" href="../height.html">Height</a>
                    <a class="nav-item" href="../input.html">Input</a>
                    <a class="nav-item" href="../inset.html">Inset</a>
                    <a class="nav-item" href="../list.html">List</a>
                    <a class="nav-item" href="../margin.html">Margin</a>
                    <a class="nav-item" href="../navbar.html">Navbar</a>
                    <a class="nav-item" href="../opacity.html">Opacity</a>
                    <a class="nav-item" href="../padding.html">Padding</a>
                    <a class="nav-item" href="../position.html">Position</a>
                    <a class="nav-item" href="../scroll.html">Scroll</a>
                    <a class="nav-item" href="../tag.html">Tag</a>
                    <a class="nav-item" href="../text.html">Text</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="div bg-soft-blue padv-xl flx-col aln-center box">
            <div class="div-xl">
                <h1>Button</h1>
                <p>Simple button styles that can be applied to most elements.</p>
            </div>
        </div>
        <div class="div flx-col aln-center">
            <div class="div-xl flx-col aln-start jst-start txt-left mrgv">
                <div class="div flx-row">
                    <b>btn</b>
                    <b>bdr-none</b>
                    <b>box</b>
                    <b>box_</b>
                    <b>in</b>
                    <b>in_</b>
                </div>
                <h3>Basic</h3>
                <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                    <a class="btn black">Button</a>
                    <a class="btn bdr-none white bg-black">Button</a>
                </div>
                <h3>Raised</h3>
                <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                    <a class="btn box black bdr-none">Purchase</a>
                    <div class="btn box_ black">View</div>
                    <p class="btn box_ bg-soft-blue white">Update</p>
                </div>
                <h3>Inset</h3>
                <div class="div flx-row jst-start mrgv bg-off-white pad-xl br">
                    <span class="btn in black bdr-none">Apply Now</span>
                    <span class="btn in_ black">Activate</span>
                    <span class="btn in_ bg-grey white">Deactivated</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>