<style>
    .div-demo div {
        height: 50px;
        background-color: var(--off-white);
        margin-bottom: var(--margin-l);
        color: var(--soft-blue);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .nested-div {
        height: 300px;
        padding: var(--padding-l);
        margin-right: var(--margin-xl);
        background-color: var(--off-white);
    }
    
    .nested-div div {
        margin: var(--margin-s);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        color: var(--soft-blue);
    }
</style>
<div class="div bg-soft-blue padv-xl flx-col aln-center box">
    <div class="div-xl">
        <h1>Container</h1>
        <p>Containers to hold other elements.</p>
    </div>
</div>
<div class="div flx-col aln-center">
    <div class="div-xl flx-col aln-start txt-left mrgv">
        <div class="div flx-row">
            <b>div</b>
            <b>div-auto</b>
            <b>div-s</b>
            <b>div-33</b>
            <b>div-m</b>
            <b>div-50</b>
            <b>div-l</b>
            <b>div-xl</b>
            <b>ht-33</b>
            <b>ht-50</b>
        </div>
        <h3>Basic</h3>
        <p>Proper use of contianers is crucial for clean, responsive styles. These are basic containers classes.</p>
        <div class="div mrgv txt-center">
            <div class="div-demo flx-col jst-center aln-start">
                <div class="div-auto">div-auto</div>
                <div class="div-s">div-s</div>
                <div class="div-33">div-33</div>
                <div class="div-m">div-m</div>
                <div class="div-50">div-50</div>
                <div class="div-l">div-l</div>
                <div class="div-xl">div-xl</div>
                <div class="div">div</div>
            </div>
        </div>
        <h2>Nested Containers</h2>
        <p>Containers inside other containers, styled with flex. For more advanced container demos, see <a href="./../components/grid.html">Grid</a>.</p>
        <h3>Row</h3>
        <div class="div flx-col wrp jst-start">
            <div class="nested-div div flx-row jst-around br mrgv">
                <div class="div-50 box br">div-50</div>
                <div class="div-50 box br">div-50</div>
            </div>
            <div class="nested-div div flx-row jst-around br mrgv">
                <div class="div-33 box br">div-33</div>
                <div class="div-33 box br">div-33</div>
                <div class="div-33 box br">div-33</div>
            </div>
        </div>
        <h3>Column</h3>
        <div class="div flx-col wrp jst-start">
            <div class="nested-div div flx-col jst-center aln-center br mrgv">
                <div class="div ht-50 box br">div ht-50</div>
                <div class="div ht-50 box br">div ht-50</div>
            </div>
            <div class="nested-div div flx-col jst-center aln-center br mrgv">
                <div class="div ht-33 box br">div ht-33</div>
                <div class="div ht-33 box br">div ht-33</div>
                <div class="div ht-33 box br">div ht-33</div>
            </div>
        </div>
    </div>
</div>