<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Dropdown</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./../images/icons/gem-stone-1.svg">
    <link rel="stylesheet" href="../roobie.css">
    <link rel="stylesheet" href="../roobie-demo.css">
</head>

<body class="fnt-l pad-none mrg-none">
    <nav class="nav-col flx-col flt-left aln-left box">
        <div class="roobie padl"><span>Roo</span>bie</div>
        <div class="div ht flx-col aln-start jst-center scr">
            <div class="div ht flx-col jst-start">
                <div class="flx-col aln-start padl">
                    <a class="nav-item" href="../index.html">Home</a>
                </div>
                <h4 class="nav-head mrgl">Components</h4>
                <div class="flx-col bg-white aln-start jst-start scr mrgv-m padl">
                    <a class="nav-item" href="../components/button.html">Button</a>
                    <a class="nav-item" href="../components/container.html">Container</a>
                    <a class="nav-item active" href="../components/dropdown.html">Dropdown</a>
                    <a class="nav-item" href="../components/grid.html">Grid</a>
                    <a class="nav-item" href="../components/input.html">Input</a>
                    <a class="nav-item" href="../components/list.html">List</a>
                    <a class="nav-item" href="../components/navbar.html">Navbar</a>
                    <a class="nav-item" href="../components/tag.html">Tag</a>
                </div>
                <h4 class="nav-head mrgl">Classes</h4>
                <div class="flx-col bg-white aln-start jst-start scr mrgv-m padl">
                    <a class="nav-item" href="../classes/all.html">All</a>
                    <a class="nav-item" href="../classes/border.html">Border</a>
                    <a class="nav-item" href="../classes/box-shadow.html">Box Shadow</a>
                    <a class="nav-item" href="../classes/button.html">Button</a>
                    <a class="nav-item" href="../classes/colors.html">Colors</a>
                    <a class="nav-item" href="../classes/container.html">Container</a>
                    <a class="nav-item" href="../classes/cursor.html">Cursor</a>
                    <a class="nav-item" href="../classes/display.html">Display</a>
                    <a class="nav-item" href="../classes/dropdown.html">Dropdown</a>
                    <a class="nav-item" href="../classes/flex.html">Flex</a>
                    <a class="nav-item" href="../classes/float.html">Float</a>
                    <a class="nav-item" href="../classes/font.html">Font</a>
                    <a class="nav-item" href="../classes/height.html">Height</a>
                    <a class="nav-item" href="../classes/input.html">Input</a>
                    <a class="nav-item" href="../classes/inset.html">Inset</a>
                    <a class="nav-item" href="../classes/list.html">List</a>
                    <a class="nav-item" href="../classes/margin.html">Margin</a>
                    <a class="nav-item" href="../classes/navbar.html">Navbar</a>
                    <a class="nav-item" href="../classes/opacity.html">Opacity</a>
                    <a class="nav-item" href="../classes/padding.html">Padding</a>
                    <a class="nav-item" href="../classes/position.html">Position</a>
                    <a class="nav-item" href="../classes/scroll.html">Scroll</a>
                    <a class="nav-item" href="../classes/tag.html">Tag</a>
                    <a class="nav-item" href="../classes/text.html">Text</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div bg-soft-blue padv-xl flx-col aln-center box">
                <div class="div-xl">
                    <h1>Dropdown</h1>
                    <p>Display hidden content on hover.</p>
                </div>
            </div>
            <div class="div-xl flx-col aln-start jst-start txt-left mrgv">
                <div class="div flx-row">
                    <b>drp</b>
                    <b>drp-btn</b>
                    <b>drp-cnt</b>
                    <b>drp-title</b>
                </div>
                <h3>Basic</h3>
                <div class="div">
                    <div class="flx-row aln-center div jst-start mrgv bg-off-white pad-xl br">
                        <div class="drp mrg-m">
                            <a class="drp-btn">Links</a>
                            <div class="drp-cnt br txt-center">
                                <a>Link 1</a>
                                <a>Link 2</a>
                                <a>Link 3</a>
                            </div>
                        </div>
                        <div class="drp">
                            <button class="drp-btn btn">Content<>
                            <div class="drp-cnt pad br">
                                <p>Container that can hold any element</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Advanced</h3>
                <p>Advanced dropdowns, styled using flex. Use a p element inside dropdown links to add descriptions.</p>
                <div class="div">
                    <div class="flx-row div jst-start mrgv bg-off-white pad-xl br aln-center">
                        <div class="drp mrg-m">
                            <a class="drp-btn">Descriptions</a>
                            <div class="drp-cnt br">
                                <a class="flx-col">Products<p>Handmade, carefully crafted products</p></a>
                                <a class="flx-col">Resources<p>An archive of learning resources</p></a>
                                <a class="flx-col">Tutorials<p>Description tutorials to learn CSS</p></a>
                            </div>
                        </div>
                        <div class="drp">
                            <button class="drp-btn btn">Row<>
                            <div class="drp-cnt br txt-left">
                                <div class="flx-row pad br">
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Sports</h4>
                                        <a>Frisbee</a>
                                        <a>Football</a>
                                        <a>Soccer</a>
                                    </div>
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Calendar</h4>
                                        <a>March</a>
                                        <a>April</a>
                                        <a>May</a>
                                    </div>
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Schedule</h4>
                                        <a>Fall</a>
                                        <a>Winter</a>
                                        <a>Spring</a>
                                    </div>
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Events</h4>
                                        <a>Baseball Camp</a>
                                        <a>Running Lessions</a>
                                        <a>Tournament</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drp">
                            <button class="drp-btn btn bg-off-white">Column<>
                            <div class="drp-cnt br txt-left">
                                <div class="flx-col pad br">
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Sports</h4>
                                        <a>Frisbee</a>
                                        <a>Football</a>
                                        <a>Soccer</a>
                                    </div>
                                    <div class="flx-col mrg-l">
                                        <h4 class="drp-title">Calendar</h4>
                                        <a>March</a>
                                        <a>April</a>
                                        <a>May</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drp">
                            <button class="drp-btn btn bg-off-white">Mixed<>
                            <div class="drp-cnt br txt-left">
                                <div class="flx-row pad br">
                                    <div class="flx-col div-50 mrg-l">
                                        <h4 class="drp-title">Sports</h4>
                                        <a>Frisbee</a>
                                        <a>Football</a>
                                        <a>Soccer</a>
                                    </div>
                                    <div class="flx-col div-50 mrg-l">
                                        <h4 class="drp-title">Calendar</h4>
                                        <a>March</a>
                                        <a>April</a>
                                        <a>May</a>
                                    </div>
                                </div>
                                <div class="flx-row pad br">
                                    <div class="flx-col div-50 mrg-l">
                                        <h4 class="drp-title">Schedule</h4>
                                        <a>Fall</a>
                                        <a>Winter</a>
                                        <a>Spring</a>
                                    </div>
                                    <div class="flx-col div-50 mrg-l">
                                        <h4 class="drp-title">Events</h4>
                                        <a>Baseball Camp</a>
                                        <a>Running Lessions</a>
                                        <a>Tournament</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Navbar Integration</h3>
                <div class="div">
                    <nav class="nav-row flx-row jst-between aln-center box">
                        <div class="flx-row aln-center">
                            <div class="nav-title"><span>Roo</span>bie</div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Descriptions</a>
                                <div class="drp-cnt br">
                                    <a class="flx-col">Products<p>Handmade, carefully crafted products</p></a>
                                    <a class="flx-col">Resources<p>An archive of learning resources</p></a>
                                    <a class="flx-col">Tutorials<p>Description tutorials to learn CSS</p></a>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Row</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-row pad br">
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Schedule</h4>
                                            <a>Fall</a>
                                            <a>Winter</a>
                                            <a>Spring</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Events</h4>
                                            <a>Baseball Camp</a>
                                            <a>Running Lessions</a>
                                            <a>Tournament</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Column</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-col pad br">
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item bg-off-white">Mixed</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-row br">
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                    </div>
                                    <div class="flx-row br">
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Schedule</h4>
                                            <a>Fall</a>
                                            <a>Winter</a>
                                            <a>Spring</a>
                                        </div>
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Events</h4>
                                            <a>Baseball Camp</a>
                                            <a>Running Lessions</a>
                                            <a>Tournament</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </nav>
                    </div>
                    <div class="row-divider"></div>
                </div>
            </div>
</body>

</html>