<style>
    .category .tag_ {
        background-color: var(--white);
    }
</style>
<div class="div bg-soft-blue padv-xl flx-col aln-center box">
    <div class="div-xl">
        <h1>Tag</h1>
        <p>Short blocks of content.</p>
    </div>
</div>
<div class="div-xl flx-col aln-start jst-start txt-left mrgv">
    <div class="div flx-row">
        <b>tag</b>
        <b>tag_</b>
        <b>bdr</b>
    </div>
    <h3>Basic</h3>
    <div class="div">
        <div class="mrgv flx-row jst-start wrp bg-off-white pad-xl br aln-center">
            <div class="tag">Cheese</div>
            <div class="tag bdr">Pepperoni</div>
            <div class="tag_">Eggs</div>
        </div>
    </div>
    <h3>Descriptions</h3>
    <div class="div">
        <div class="div">
            <p>Tags used to describe.</p>
        </div>
        <div class="mrgv flx-row jst-start pad-xl wrp bg-off-white br">
            <div class="mrg bg-white br box_ pad">
                <h4>Mama's Pumpkin Pie</h4>
                <div class="flx-row">
                    <div class="tag">30 min</div>
                    <div class="tag">Pumpkin</div>
                    <div class="tag">Gluten Free</div>
                </div>
                <div class="grey pad-s">
                    The best recipe in the world! Delicious & easy to make.
                </div>
            </div>
            <div class="mrg bg-white br box_ pad">
                <h4>Chocolate Chip Cookies</h4>
                <div class="flx-row">
                    <div class="tag">25 min</div>
                    <div class="tag">Favorite</div>
                    <div class="tag_ bg-soft-blue white">New!</div>
                </div>
                <div class="grey pad-s">
                    Cookies that will knock your socks off.
                </div>
            </div>
        </div>
    </div>
    <h3>Categories</h3>
    <div class="div">
        <div class="div flx-col">
            <p>Alike tags styled together in a container.</p>
        </div>
        <div class="mrgv flx-row jst-start pad-xl wrp bg-off-white br aln-center">
            <div class="mrg div-m bg-white br box pad">
                <div class="flx-col wrp category">
                    <div class="flx-row bg-off-white br pad mrg">
                        <div class="tag_">Small</div>
                        <div class="tag_">Medium</div>
                        <div class="tag_">Large</div>
                        <div class="tag_">Extra Large</div>
                    </div>
                    <div class="flx-row jst-center bg-off-white br pad mrg">
                        <div class="tag_">Red</div>
                        <div class="tag_">Yellow</div>
                        <div class="tag_">Orange</div>
                        <div class="tag_">Purple</div>
                        <div class="tag_">Blue</div>
                    </div>
                    <div class="flx-row jst-end bg-off-white br pad mrg">
                        <div class="tag_">Update</div>
                        <div class="tag_">Shutdown</div>
                        <div class="tag_">Delete</div>
                        <div class="tag_">Install</div>
                    </div>

                    <div class="flx-row jst-around bg-off-white br pad mrg">
                        <div class="tag_">-1</div>
                        <div class="tag_">0</div>
                        <div class="tag_">+1</div>
                    </div>

                    <div class="flx-row jst-between bg-off-white br pad mrg">
                        <div class="tag_">Start</div>
                        <div class="tag_">End</div>
                    </div>
                </div>
            </div>
            <div class="col-divider"></div>
            <div class="flx-col mrg bg-white br box pad-l">
                <h3 class="txt-center">Order</h3>
                <div class="div mrgh">
                    <h4>Cheese</h4>
                    <div class="flx-row wrp">
                        <div class="tag_">Light</div>
                        <div class="tag_">Normal</div>
                        <div class="tag_ bg-soft-blue white">Extra</div>
                        <div class="tag_">No Cheese</div>
                    </div>
                </div>
                <div class="div mrgh">
                    <h4>Meat</h4>
                    <div class="flx-row wrp">
                        <div class="tag_ bg-soft-blue white">Chicken</div>
                        <div class="tag_">Beef</div>
                        <div class="tag_">Pork</div>
                        <div class="tag_">None</div>
                    </div>
                </div>
                <div class="div mrgh">
                    <h4>Vegetables</h4>
                    <div class="flx-row wrp">
                        <div class="tag_">Broccoli</div>
                        <div class="tag_">Carrots</div>
                        <div class="tag_ bg-soft-blue white">None</div>
                    </div>
                </div>
                <div class="flx-row jst-end ">
                    <button class="btn fnt-s bg-green box_">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>