@keyframes rotateoutbl {
    from {
        opacity: 1;
    }
    to {
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.rotateoutbl {
    animation-name: rotateoutbl;
    transform-origin: left bottom;
}