@keyframes rotateout {
    from {
        opacity: 1;
    }
    to {
        transform: rotate3d(0, 0, 1, 200deg);
        opacity: 0;
    }
}

.rotateout {
    animation-name: rotateout;
    transform-origin: center;
}