.div-demo div {
    height: 50px;
    background-color: var(--roobie-off-white);
    margin-bottom: var(--margin-l);
    color: var(--roobie-black);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.nested-div {
    height: 300px;
    padding: var(--roobie-padding-l);
    margin-right: var(--margin-xl);
    background-color: var(--roobie-off-white);
}

.nested-div div {
    margin: var(--margin-s);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--roobie-white);
}