<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Button</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="container.css">
</head>

<body class="txt-l spc-none">
    <nav class="nav-top flx-row aln-center box-shadow">
        <div class="roobie">Roobie</div>
        <a class="nav-item" href="../../index.html">Home</a>
        <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
        <a class="nav-item active" href="../../components/button/button.html">Button</a>
        <a class="nav-item" href="../../components/input/input.html">Input</a>
        <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
    </nav>
    <div class="content">
        <h2>Container</h2>
        <div class="div-s">div-s</div>
        <div class="div-m">div-m</div>
        <div class="div-l">div-l</div>
        <div class="div-xl">div-xl</div>
        <div class="div">div</div>
    </div>
</body>

</html>