.div-demo div {
    height: 50px;
    background-color: var(--roobie-off-white);
    margin-bottom: var(--margin-l);
    color: var(--roobie-black);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.nested-div {
    height: 300px;
    padding: var(--pad-m);
}

.nested-div div {
    margin: var(--margin-m);
}