<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Button</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="container.css">
</head>

<body class="txt-l spc-none">
    <nav class="nav-vert flx-col flt-left flx-col-nowrap jst-between aln-center box-m txt-center">
        <div class="div-xl flx-col aln-start jst-center">
            <div class="roobie"><span>Roo</span>bie</div>
            <a class="nav-item" href="../../index.html">Home</a>
            <a class="nav-item active" href="../../components/container/container.html">Container</a>
            <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
            <a class="nav-item" href="../../components/button/button.html">Button</a>
            <a class="nav-item" href="../../components/input/input.html">Input</a>
            <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
        </div>
        <div class="flx-col aln-center">
            <a class="nav-item">&copy; Roobie 2021</a>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div-xl flx-col aln-start txt-left">
                <h1>Container</h1>
                <p>Containers to hold other elements. Stack on top of each other when scaling for mobile-responsiveness.</p>
                <div class="div txt-center">
                    <div class="div-demo flx-col jst-center aln-start">
                        <div class="div-s">div-s</div>
                        <div class="div-m">div-m</div>
                        <div class="div-l">div-l</div>
                        <div class="div-xl">div-xl</div>
                        <div class="div">div</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div flx-col aln-center">
            <div class="div-xl flx-col aln-start txt-left">
                <h3>Nested Containers</h3>
                <p>Containers inside other containers, styled with flex.</p>
                <div class="nested-div div txt-center">
                    <div class="div flx-row jst-around">
                        <div class="div-m flx-row jst-around aln-center">
                            <div class="div-s">div-s</div>
                            <div class="div-s">div-s</div>
                        </div>
                        <div class="div-m flx-row jst-around">
                            <div class="div-s">div-s</div>
                            <div class="div-s">div-s</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>