.icon {
    width: 25px !important;
    height: 25px !important;
}

.icon-trash {
    content: url(icons/trash.svg)
}

.icon-plus {
    content: url(icons/plus.svg)
}

.icon-minus {
    content: url(icons/minus.svg)
}

.icon-heart-empty {
    content: url(icons/heart-empty.svg)
}

.icon-heart {
    content: url(icons/heart.svg);
}

.icon-mail {
    content: url(icons/mail.svg)
}

.icon-search {
    content: url(icons/search.svg)
}

.icon-star-empty {
    content: url(icons/star-empty.svg)
}

.icon-star {
    content: url(icons/star.svg)
}

.icon-user {
    content: url(icons/user.svg)
}

.icon-phone {
    content: url(icons/phone.svg)
}

.icon-attach {
    content: url(icons/attach.svg)
}

.icon-right {
    content: url(icons/right.svg)
}

.icon-left {
    content: url(icons/left.svg)
}

.icon-cog-2 {
    content: url(icons/cog.svg)
}

.icon-help {
    content: url(icons/help.svg)
}

.icon-facebook {
    content: url(icons/facebook.svg)
}

.icon-linkedin {
    content: url(icons/linkedin.svg)
}

.icon-left-open {
    content: url(icons/left-open.svg)
}

.icon-ok {
    content: url(icons/ok.svg)
}

.icon-cancel {
    content: url(icons/cancel.svg)
}

.icon-right-open {
    content: url(icons/right-open.svg)
}

.icon-up-open {
    content: url(icons/up-open.svg)
}

.icon-down-open {
    content: url(icons/down-open.svg)
}

.icon-pause {
    content: url(icons/pause.svg)
}

.icon-stop {
    content: url(icons/stop.svg)
}

.icon-play {
    content: url(icons/play.svg)
}

.icon-cw {
    content: url(icons/cw.svg)
}

.icon-up {
    content: url(icons/up.svg)
}

.icon-down {
    content: url(icons/down.svg)
}

.icon-zoom-in {
    content: url(icons/zoom-in.svg)
}

.icon-zoom-out {
    content: url(icons/zoom-out.svg)
}

.icon-eject {
    content: url(icons/eject.svg)
}

.icon-align-right {
    content: url(icons/align-right.svg)
}

.icon-align-center {
    content: url(icons/align-center.svg);
}

.icon-align-left {
    content: url(icons/align-left.svg)
}

.icon-align-justify {
    content: url(icons/align-justify.svg)
}

.icon-github-text {
    content: url(icons/github-text.svg)
}

.icon-github {
    content: url(icons/github.svg)
}

.icon-flag {
    content: url(icons/flag.svg)
}

.icon-location {
    content: url(icons/location.svg)
}

.icon-thumbs-down {
    content: url(icons/thumbs-down.svg)
}

.icon-thumbs-up {
    content: url(icons/thumbs-up.svg)
}

.icon-bell {
    content: url(icons/bell.svg)
}

.icon-comment {
    content: url(icons/comment.svg)
}

.icon-apps {
    content: url(icons/apps.svg)
}

.icon-list {
    content: url(icons/list.svg)
}

.icon-menu {
    content: url(icons/menu.svg)
}

.icon-menu-outline {
    content: url(icons/menu-outline.svg)
}

.icon-camera {
    content: url(icons/camera.svg)
}