@keyframes rotatebl {
    from {
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotatebl {
    animation-name: rotatebl;
    transform-origin: left bottom;
    animation-duration: var(--animation-duration);
}

@keyframes rotateoutbl {
    from {
        opacity: 1;
    }
    to {
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}

.rotateoutbl {
    animation-name: rotateoutbl;
    transform-origin: left bottom;
    animation-duration: var(--animation-duration);
}