@keyframes rotatetl {
    from {
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.rotatetl {
    animation-name: rotatetl;
    transform-origin: left bottom;
}

@keyframes rotateouttl {
    from {
        opacity: 1;
    }
    to {
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}

.rotateouttl {
    animation-name: rotateouttl;
    transform-origin: left bottom;
}