/* 
Name: Border Radius
Prefix: br
Dev: Border radius of an element
*/

.br0 {
    border-radius: none !important;
}

.br1 {
    border-radius: var(--br1);
}

.br2 {
    border-radius: var(--br2);
}

.br3 {
    border-radius: var(--br3);
}

.br4 {
    border-radius: var(--br4);
}

.br5 {
    border-radius: var(--br5);
}

.br6 {
    border-radius: var(--br6);
}