/* 
Name: Box Shadow
Prefix: box,in
Dev: Box shadow of an element
*/

.box0 {
    box-shadow: none !important;
}

.box1 {
    box-shadow: var(--box1);
}

.box2 {
    box-shadow: var(--box2);
}

.box3 {
    box-shadow: var(--box3);
}

.box4 {
    box-shadow: var(--box4);
}

.box5 {
    box-shadow: var(--box5);
}

.box6 {
    box-shadow: var(--box6);
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover {
    box-shadow: var(--box3);
}

.box1:active,
.box2:active,
.box3:active,
.box4:active,
.box5:active,
.box6:active {
    box-shadow: var(--box3);
}

.box1:focus,
.box2:focus,
.box3:focus,
.box4:focus,
.box5:focus,
.box6:focus {
    box-shadow: var(--box4);
}

.in0 {
    box-shadow: none !important;
}

.in1 {
    box-shadow: var(--in1);
}

.in2 {
    box-shadow: var(--in2);
}

.in3 {
    box-shadow: var(--in3);
}

.in4 {
    box-shadow: var(--in4);
}

.in5 {
    box-shadow: var(--in5);
}

.in6 {
    box-shadow: var(--in6);
}

.in1:hover,
.in2:hover,
.in3:hover,
.in4:hover,
.in5:hover,
.in6:hover {
    box-shadow: var(--in3);
}

.in1:active,
.in2:active,
.in3:active,
.in4:active,
.in5:active,
.in6:active {
    box-shadow: var(--in3);
}

.in1:focus,
.in2:focus,
.in3:focus,
.in4:focus,
.in5:focus,
.in6:focus {
    box-shadow: var(--in4);
}