/*
Name: Margin
Prefix: mrg
Dev: Margin on the outside of an element
*/

.mrg0 {
    margin: 0 !important;
}

.mrg1 {
    margin: var(--mrg1);
}

.mrg2 {
    margin: var(--mrg2);
}

.mrg3 {
    margin: var(--mrg3);
}

.mrg4 {
    margin: var(--mrg4);
}

.mrg5 {
    margin: var(--mrg5);
}

.mrg6 {
    margin: var(--mrg6);
}


/* Margin Left */

.mrgl1 {
    margin-left: var(--mrg1);
}

.mrgl2 {
    margin-left: var(--mrg2);
}

.mrgl3 {
    margin-left: var(--mrg3);
}

.mrgl4 {
    margin-left: var(--mrg4);
}

.mrgl5 {
    margin-left: var(--mrg5);
}

.mrgl6 {
    margin-left: var(--mrg6);
}


/* Margin Right */

.mrgr1 {
    margin-right: var(--mrg1);
}

.mrgr2 {
    margin-right: var(--mrg2);
}

.mrgr3 {
    margin-right: var(--mrg3);
}

.mrgr4 {
    margin-right: var(--mrg4);
}

.mrgr5 {
    margin-right: var(--mrg5);
}

.mrgr6 {
    margin-right: var(--mrg6);
}


/* Margin Vertical */

.mrgv1 {
    margin: var(--mrg1) 0;
}

.mrgv2 {
    margin: var(--mrg2) 0;
}

.mrgv3 {
    margin: var(--mrg3) 0;
}

.mrgv4 {
    margin: var(--mrg4) 0;
}

.mrgv5 {
    margin: var(--mrg5) 0;
}

.mrgv6 {
    margin: var(--mrg6) 0;
}


/* Margin Horizontal */

.mrgh1 {
    margin: 0 var(--mrg1);
}

.mrgh2 {
    margin: 0 var(--mrg2);
}

.mrgh3 {
    margin: 0 var(--mrg3);
}

.mrgh4 {
    margin: 0 var(--mrg4);
}

.mrgh5 {
    margin: 0 var(--mrg5);
}

.mrgh6 {
    margin: 0 var(--mrg6);
}