.opa {
    opacity: auto !important;
}

.op10 {
    opacity: 10% !important;
}

.op20 {
    opacity: 20% !important;
}

.op25 {
    opacity: 25% !important;
}

.op33 {
    opacity: 33% !important;
}

.op40 {
    opacity: 40% !important;
}

.op50 {
    opacity: 50% !important;
}

.op60 {
    opacity: 60% !important;
}

.op66 {
    opacity: 66% !important;
}

.op75 {
    opacity: 75% !important;
}

.op80 {
    opacity: 80% !important;
}

.op90 {
    opacity: 90% !important;
}

.op100,
.op {
    opacity: 100% !important;
}