.emphasis {
    background-color: var(--bg2);
    color: var(--t2);
    border-radius: var(--br2);
    padding: var(--pad3);
    margin: var(--mrg1);
    border-left: 5px solid var(--bg3);
}


/* Modifiers */

.emphasis-primary {
    border-color: var(--primary);
}

.emphasis-secondary {
    border-color: var(--secondary);
}

.emphasis-success {
    border-color: var(--success);
}

.emphasis-warning {
    border-color: var(--warning);
}

.emphasis-danger {
    border-color: var(--danger);
}

.emphasis-info {
    border-color: var(--info);
}