@keyframes zoom {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

._zoom {
    animation-name: zoom;
    animation-duration: var(--animation-duration);
}

@keyframes zoomout {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}

._zoomout {
    animation-name: zoomout;
    animation-duration: var(--animation-duration);
}