.br0 {
    border-radius: none;
}

.br1 {
    border-radius: var(--br1);
}

.br2 {
    border-radius: var(--br2);
}

.br3 {
    border-radius: var(--br3);
}

.br4 {
    border-radius: var(--br4);
}

.br1:hover,
.br2:hover,
.br3:hover,
.br4:hover {
    border-radius: var(--br3);
}

.br1:active,
.br2:active,
.br3:active,
.br4:active {
    border-radius: var(--br3);
}

.br1:focus,
.br2:focus,
.br3:focus,
.br4:focus {
    border-radius: var(--br4);
}