.bdr0 {
    border: none !important;
}

.bdr1 {
    border: var(--bdr1) !important;
}

.bdr2 {
    border: var(--bdr2) !important;
}

.bdr3 {
    border: var(--bdr3) !important;
}

.bdr4 {
    border: var(--bdr4) !important;
}

.bdr1:hover,
.bdr2:hover,
.bdr3:hover,
.bdr4:hover {
    border: var(--bdr3) !important;
}

.bdr1:active,
.bdr2:active,
.bdr3:active,
.bdr4:active {
    border: var(--bdr3) !important;
}

.bdr1:focus,
.bdr2:focus,
.bdr3:focus,
.bdr4:focus {
    border: var(--bdr4) !important;
}

.bdr-b:hover {
    border-bottom: var(--bdr2) !important;
}