.box0 {
    box-shadow: none;
}

.box1 {
    box-shadow: var(--box1);
}

.box2 {
    box-shadow: var(--box2);
}

.box3 {
    box-shadow: var(--box3);
}

.box4 {
    box-shadow: var(--box4);
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
    box-shadow: var(--box3);
}

.box1:active,
.box2:active,
.box3:active,
.box4:active {
    box-shadow: var(--box3);
}

.box1:focus,
.box2:focus,
.box3:focus,
.box4:focus {
    box-shadow: var(--box4);
}