/* Font Size */

.fnt-xxxs {
    font-size: var(--fnt1);
}

.fnt-xxs {
    font-size: var(--fnt2);
}

.fnt-xs {
    font-size: var(--fnt3);
}

.fnt-s {
    font-size: var(--fnt4);
}

.fnt-m,
.fnt {
    font-size: var(--fnt5);
}

.fnt-l {
    font-size: var(--fnt6);
}

.fnt-xl {
    font-size: var(--fnt7);
}

.fnt-xxl {
    font-size: var(--fnt8);
}