.ht1 {
    height: var(--ht1);
}

.ht2 {
    height: var(--ht2);
}

.ht3 {
    height: var(--ht3);
}

.ht4 {
    height: var(--ht4);
}

.ht5 {
    height: var(--ht5);
}

.ht6 {
    height: var(--ht6);
}

.ht-auto {
    height: auto;
}

.ht {
    height: 100%;
}