.ht-s {
    height: var(--ht-s);
}

.ht-33 {
    height: 33%;
}

.ht-m {
    height: var(--ht-m);
}

.ht-50 {
    height: 50%;
}

.ht-l {
    height: var(--ht-l);
}

.ht-xl {
    height: var(--ht-xl);
}

.ht-xxl {
    height: var(--ht-xxl);
}

.ht-auto {
    height: auto;
}

.ht {
    height: 100%;
}