.in1 {
    box-shadow: var(--in1);
}

.in2 {
    box-shadow: var(--in2);
}

.in3 {
    box-shadow: var(--in3);
}

.in4 {
    box-shadow: var(--in4);
}

.in1:hover,
.in2:hover,
.in3:hover,
.in4:hover {
    box-shadow: var(--in3);
}

.in1:active,
.in2:active,
.in3:active,
.in4:active {
    box-shadow: var(--in3);
}

.in1:focus,
.in2:focus,
.in3:focus,
.in4:focus {
    box-shadow: var(--in4);
}