.in-s {
    box-shadow: var(--in1);
}

.in-m,
.in {
    box-shadow: var(--in2);
}

.in-l {
    box-shadow: var(--in3);
}

.in-xl {
    box-shadow: var(--in4);
}

.in-s:hover,
.in-m:hover,
.in-l:hover,
.in-xl:hover,
.in:hover {
    box-shadow: var(--in3);
}

.in-s:active,
.in-m:active,
.in-l:active,
.in-xl:active,
.in:active {
    box-shadow: var(--in3);
}

.in-s:focus,
.in-m:focus,
.in-l:focus,
.in-xl:focus,
.in:focus {
    box-shadow: var(--in4);
}