.op-s {
    opacity: var(--op-s);
}

.op-33 {
    opacity: 33%;
}

.op-m {
    opacity: var(--op-m);
}

.op-50 {
    opacity: 50%;
}

.op-l {
    opacity: var(--op-l);
}

.op-xl {
    opacity: var(--op-xl);
}

.op-xxl {
    opacity: var(--op-xxl);
}

.op {
    opacity: 100%;
}