.pad0 {
    padding: 0;
}

.pad1 {
    padding: var(--pad1);
}

.pad2 {
    padding: var(--pad2);
}

.pad3 {
    padding: var(--pad3);
}

.pad4 {
    padding: var(--pad4);
}

.pad5 {
    padding: var(--pad5);
}


/* Padding Left */

.padl1 {
    padding-left: var(--pad1);
}

.padl2 {
    padding-left: var(--pad2);
}

.padl3 {
    padding-left: var(--pad3);
}

.padl4 {
    padding-left: var(--pad4);
}


/* Padding Right */

.padr1 {
    padding-right: var(--pad1);
}

.padr2 {
    padding-right: var(--pad2);
}

.padr3 {
    padding-right: var(--pad3);
}

.padr4 {
    padding-right: var(--pad4);
}


/* Padding Vertical*/

.padv1 {
    padding: var(--pad1) 0;
}

.padv2 {
    padding: var(--pad2) 0;
}

.padv3 {
    padding: var(--pad3) 0;
}

.padv4 {
    padding: var(--pad4) 0;
}


/* Padding Horizontal */

.padh1 {
    padding: 0 var(--pad1);
}

.padh2 {
    padding: 0 var(--pad2);
}

.padh3 {
    padding: 0 var(--pad3);
}

.padh4 {
    padding: 0 var(--pad4);
}