.tag {
    border: 1px solid transparent;
    padding: 0 var(--pad2);
    box-shadow: var(--box2);
    border-radius: var(--br4);
    margin: var(--mrg1);
    font-size: var(--fnt5);
    color: var(--t3);
    background-color: var(--bg3);
}

.tag:hover {
    border: 1px solid var(--t1);
    box-shadow: var(--box3);
    cursor: default;
    opacity: 90%;
}