@keyframes bouncel {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0) scaleX(3);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0) scaleX(1);
    }
    75% {
        transform: translate3d(-10px, 0, 0) scaleX(0.98);
    }
    90% {
        transform: translate3d(5px, 0, 0) scaleX(0.995);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

._bouncel {
    animation-name: bouncel;
    animation-duration: var(--animation-duration);
}

@keyframes bounceoutl {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0) scaleX(0.9);
    }
    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0) scaleX(2);
    }
}

._bounceoutl {
    animation-name: bounceoutl;
    animation-duration: var(--animation-duration);
}