a {
    color: #bcbcbc;
}

a:hover {
    cursor: pointer;
    color: rgb(24, 196, 96);
}

.nav-background {
    background-color: #333333;
}

body {
    background-color: #111111;
}

html,
body {
    height: 100%;
}

xmp {
    color: #bcbcbc;
}