@keyframes fadetr {
    from {
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadetr {
    animation-name: fadetr;
    animation-duration: var(--animation-duration);
}

@keyframes fadeouttr {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(100%, -100%, 0);
    }
}

.fadeouttr {
    animation-name: fadeouttr;
    animation-duration: var(--animation-duration);
}