@keyframes fadebl {
    from {
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadebl {
    animation-name: fadebl;
}

@keyframes fadeoutbl {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
}

.fadeoutbl {
    animation-name: fadeoutbl;
}