@keyframes fadebplus {
    from {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

._fadebplus {
    animation-name: fadebplus;
    animation-duration: var(--animation-duration);
}

@keyframes fadeoutbplus {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

._fadeoutbplus {
    animation-name: fadeoutbplus;
    animation-duration: var(--animation-duration);
}