@keyframes faderplus {
    from {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.faderplus {
    animation-name: faderplus;
    animation-duration: var(--animation-duration);
}

@keyframes fadeoutrplus {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(2000px, 0, 0);
    }
}

.fadeoutrplus {
    animation-name: fadeoutrplus;
    animation-duration: var(--animation-duration);
}