@keyframes fadel {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

._fadel {
    animation-name: fadel;
    animation-duration: var(--animation-duration);
}

@keyframes fadeoutl {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

._fadeoutl {
    animation-name: fadeoutl;
    animation-duration: var(--animation-duration);
}