a {
    color: #bcbcbc;
}

a:hover {
    cursor: pointer;
    color: rgb(24, 196, 96);
}

nav {
    background-color: #333333;
}

nav a {
    text-decoration: none;
}

body {
    background-color: #111111;
}

html,
body {
    height: 100%;
}

xmp {
    color: #bcbcbc;
    overflow: auto;
    background-color: #222222;
}

h2 {
    color: rgb(24, 196, 96);
    text-align: center;
    margin-top: 0;
}

.content {
    text-align: center;
    padding: 10px;
}

.row-divider {
    height: 30px;
    width: 100%;
}

.col-divider {
    height: 100%;
    width: 30px;
}