.fnts1 {
    font-size: var(--fnts1);
}

.fnts2 {
    font-size: var(--fnts2);
}

.fnts3 {
    font-size: var(--fnts3);
}

.fnts4 {
    font-size: var(--fnts4);
}

.fnts5 {
    font-size: var(--fnts5);
}

.fnts6 {
    font-size: var(--fnts6);
}