* {
    box-sizing: border-box;
}

.car {
    position: relative;
}


/* Hide the images by default */

.car-slide {
    display: none;
}


/* Next & previous buttons */

.car-prev,
.car-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.car-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background */

.car-prev:hover,
.car-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.car-txt {
    color: #f2f2f2;
    font-size: var(--fnt4);
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}


/* Slide numbers */

.car-num {
    color: var(--t2);
    font-size: var(--fnt4);
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Dots to indicate slide active */

.car-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--bg2);
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: inline-block;
}

.active,
.car-dot:hover {
    background-color: var(--bg5);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}