* {
    box-sizing: border-box;
}

.car {
    position: relative;
}


/* Hide the images by default */

.car-slide {
    display: none;
}


/* Next & previous buttons */

.car-prev,
.car-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: var(--pad3);
    color: var(--t1);
    background-color: var(--bg1);
    font-weight: bold;
    font-size: var(--fnts4);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.car-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background */

.car-prev:hover,
.car-next:hover {
    background-color: var(--bg3);
    opacity: 90%;
}


/* Caption text */

.car-txt {
    color: var(--t2);
    font-size: var(--fnts4);
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}


/* Dots to indicate slide active */

.car-dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: var(--bg3);
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: inline-block;
}

.active,
.car-dot:hover {
    background-color: var(--bg6);
}