<a class="div bg-softblue flx-col aln-center box2padv txtd0" href="https://github.com/kgrewee/roobie" target="blank">
    <div class="div6">
        <h1 class="roobie title">
            <img width="35" height="35" src="../../src/icons/gem-stone-1.svg"><span class="padl2">Roo</span>bie</h1>
        <p>Start every Web project with building blocks.</p>
    </div>
</a>
<div class="div6 flx-col aln-start jst-cnt-center txtl mrgv4">
    <h3>GitHub</h3>
    <p>Click the banner above to open our GitHub. It is recommended to pull the repo and follow along locally in a code editor for the best experience.</p>
    <h3>Advantages</h3>
    <ul class="ul flx-col adv">
        <li class="box2">Building blocks <span>Start every project 10 feet off the ground, not zero.</span></li>
        <li class="box2">Less clutter <span>CSS and JavaScript are centralized.</span></li>
        <li class="box2">Less cleanup <span>Re-using styles and functions makes for less cleanup when removing content.</span></li>
        <li class="box2">Consistency <span>By using Roobie, you have a standard that can be shared across a team for development.</span></li>
        <li class="box2">Pre-built components <span>We provide common Web pages and components for anyone to use.</span></li>
    </ul>
</div>