<a class="div bg-softblue flx-col aln-center box padv notxtd" href="https://github.com/kgrewee/roobie" target="_blank">
    <div class="div-xl">
        <h1 class="title"><img width="35" height="35" src="../../src/icons/fontawesome-code-black.svg"><span>Install</span></h1>
        <p>New installation options coming soon. We will support all the main package managers.</p>
    </div>
</a>
<div class="div-xl flx-col aln-start jst-center txt-left mrgv-xl">
    <h3>Downloads</h3>
    <div class="div flx-row mrgv wrp">
        <a class="btn box_ pad mrgr" href="../../src/roobie.zip" download="roobie.zip">Download zip</a>
    </div>
    <h3>Import</h3>
    <h4>CSS Setup</h4>
    <p>Import in your global stylesheet.</p>
    <xmp class="br bg-off-white pad-xl box">
        @import "path/to/roobie.css";
    </xmp>
    <h4>HTML Setup</h4>
    <p>Import in an HTML file.</p>
    <xmp class="br bg-off-white pad-xl box">
        <link rel="stylesheet" href="../src/css/roobie.css">
        <script src="../src/js/roobie.js"></script>
    </xmp>
</div>