<style>
    .theme-btn {
        color: var(--t2);
    }
    
    .theme-btn-active {
        font-weight: bold;
        color: var(--t2);
        box-shadow: var(--box-shadow);
    }
</style>
<script>
    ready(function() {
        addClassById('light', 'theme-btn-active', getLocalStorage('theme') == 'light');
        addClassById('dark', 'theme-btn-active', getLocalStorage('theme') == 'dark');
    })
</script>
<nav class="nav-col flx-col aln-left in4">
    <div class="flx-row jst-cnt-start aln-center pad2 csr-pointer" onclick="index()">
        <img width="35" height="35" src="../../src/icons/gem-stone-1.svg">
        <a class="roobie padl2"><span>Roo</span>bie</a>
    </div>
    <div class="div flx-col scr">
        <a class="nav-item nav-a active" onclick="loadById('main', 'components/home.html'); removeClassByClass('nav-a', 'active');addClassByElement(this,'active');">Home</a>
        <a class="nav-item nav-a" onclick="loadById('main', 'components/install.html'); removeClassByClass('nav-a', 'active');addClassByElement(this,'active');">Install</a>
        <a class="nav-item nav-a toggle flx-row jst-cnt-start aln-center" onclick="toggleById('themes'); rotateById('theme-toggle', 270, true);"><img id="theme-toggle" width="15" height="15" src="../../src/icons/mfglabs-down-open-black.svg"><span class="mrgl2">Themes</span></a>
        <div id="themes" class="nav-container flx-col mrgl2 csr-pointer">
            <a id="light" class="theme-btn pad2" onclick="switchTheme('light');removeClassByClass('theme-btn', 'theme-btn-active');addClassByElement(this,'theme-btn-active', getLocalStorage('theme') == 'light');">Light</a>
            <a id="dark" class="theme-btn pad2" onclick="switchTheme('dark');removeClassByClass('theme-btn', 'theme-btn-active');addClassByElement(this,'theme-btn-active', getLocalStorage('theme') == 'dark');">Dark</a>
        </div>
        <a class="nav-item nav-a toggle flx-row jst-cnt-start aln-center" onclick="toggleById('css-docs'); rotateById('css-docs-toggle', 270, true);"><img id="css-docs-toggle" width="15" height="15" src="../../src/icons/mfglabs-down-open-black.svg"><span class="mrgl2">CSS Docs</span></a>
        <div id="css-docs" class="nav-container flx-col mrgl2">
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/button.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Button</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/container.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Container</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/dropdown.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Dropdown</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/font.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Font</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/grid.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Grid</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/height.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Height</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/input.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Input</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/list.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">List</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/navbar.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Navbar</a>
            <a class="nav-item docs-a" onclick="loadById('main','docs/css/tag.html'); removeClassByClass('docs-a', 'active');addClassByElement(this,'active');">Tag</a>
        </div>
    </div>
</nav>