.mrgha {
    margin: 0 auto !important;
}

.mrgh0 {
    margin: 0 0 !important;
}

.mrgh1 {
    margin: 0 var(--mrg1) !important;
}

.mrgh2,
.mrgh {
    margin: 0 var(--mrg2) !important;
}

.mrgh3 {
    margin: 0 var(--mrg3) !important;
}

.mrgh4 {
    margin: 0 var(--mrg4) !important;
}

.mrgh5 {
    margin: 0 var(--mrg5) !important;
}

.mrgh6 {
    margin: 0 var(--mrg6) !important;
}