.mrgva {
    margin: auto 0 !important;
}

.mrgv0 {
    margin: 0 0 !important;
}

.mrgv1 {
    margin: var(--mrg1) 0 !important;
}

.mrgv2,
.mrgv {
    margin: var(--mrg2) 0 !important;
}

.mrgv3 {
    margin: var(--mrg3) 0 !important;
}

.mrgv4 {
    margin: var(--mrg4) 0 !important;
}

.mrgv5 {
    margin: var(--mrg5) 0 !important;
}

.mrgv6 {
    margin: var(--mrg6) 0 !important;
}