.diva,
.div25,
.div33,
.div50,
.div75,
.div100 {
    height: auto;
    padding: var(--pad2);
}

.diva {
    width: auto;
}

.div25 {
    width: 25%;
}

.div33 {
    width: 33%;
}

.div50 {
    width: 50%;
}

.div75 {
    width: 75%;
}

.div100 {
    width: 100%;
}

.div {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .diva,
    .div25,
    .div33,
    .div50,
    .div75,
    .div100,
    .div {
        width: 100%;
        padding: 0;
    }
}