.diva {
    width: auto;
    height: auto;
    padding: var(--pad2);
}

.div25 {
    width: 25%;
    height: auto;
    padding: var(--pad2);
}

.div33 {
    width: 33%;
    height: auto;
    padding: var(--pad2);
}

.div50 {
    width: 50%;
    height: auto;
    padding: var(--pad2);
}

.div75 {
    width: 75%;
    height: auto;
    padding: var(--pad2);
}

.div {
    width: 100%;
    height: auto;
}


/* Media queries */

@media screen and (max-width: 800px) {
    .diva,
    .div25,
    .div33,
    .div50,
    .div75,
    .div {
        width: 100%;
        padding: 0;
    }
}