.fntw1 {
    font-weight: var(--fntw1);
}

.fntw2 {
    font-weight: var(--fntw2);
}

.fntw3 {
    font-weight: var(--fntw3);
}

.fntw4 {
    font-weight: var(--fntw4);
}

.fntw5 {
    font-weight: var(--fntw5);
}

.fntw6 {
    font-weight: var(--fntw6);
}