/* Module imports only */

@import 'themes/themes.module.css';
@import 'components/components.module.css';
@import 'helpers/helpers.module.css';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg1);
}

h1 {
    color: var(--t1);
}

h2 {
    color: var(--t2);
}

h3 {
    color: var(--t3);
}

span,
p {
    color: var(--t3);
}