.bg0 {
    background-color: transparent !important;
}

.bg1 {
    background-color: var(--bg1) !important;
}

.bg2 {
    background-color: var(--bg2) !important;
}

.bg3 {
    background-color: var(--bg3) !important;
}

.bg4 {
    background-color: var(--bg4) !important;
}

.bg5 {
    background-color: var(--bg5) !important;
}

.bg6 {
    background-color: var(--bg6) !important;
}


/* Status */

.bg-success {
    background-color: var(--success) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-info {
    background-color: var(--info) !important;
}


/* White */

.bg-white1 {
    background-color: var(--white) !important;
}

.bg-white,
.bg-white2 {
    background-color: var(--white2) !important;
}

.bg-white3 {
    background-color: var(--white3) !important;
}


/* Black */

.bg-black1 {
    background-color: var(--black) !important;
}

.bg-black,
.bg-black2 {
    background-color: var(--black2) !important;
}

.bg-black3 {
    background-color: var(--black3) !important;
}


/* Grey */

.bg-grey1 {
    background-color: var(--grey) !important;
}

.bg-grey,
.bg-grey2 {
    background-color: var(--grey2) !important;
}

.bg-grey3 {
    background-color: var(--grey3) !important;
}


/* Red */

.bg-red1 {
    background-color: var(--red) !important;
}

.bg-red,
.bg-red2 {
    background-color: var(--red2) !important;
}

.bg-red3 {
    background-color: var(--red3) !important;
}


/* Orange */

.bg-orange1 {
    background-color: var(--orange) !important;
}

.bg-orange,
.bg-orange2 {
    background-color: var(--orange2) !important;
}

.bg-orange3 {
    background-color: var(--orange3) !important;
}


/* Yellow */

.bg-yellow1 {
    background-color: var(--yellow) !important;
}

.bg-yellow,
.bg-yellow2 {
    background-color: var(--yellow2) !important;
}

.bg-yellow3 {
    background-color: var(--yellow3) !important;
}


/* Green */

.bg-green1 {
    background-color: var(--green) !important;
}

.bg-green,
.bg-green2 {
    background-color: var(--green2) !important;
}

.bg-green3 {
    background-color: var(--green3) !important;
}


/* Blue */

.bg-blue1 {
    background-color: var(--blue) !important;
}

.bg-blue,
.bg-blue2 {
    background-color: var(--blue2) !important;
}

.bg-blue3 {
    background-color: var(--blue3) !important;
}


/* Indigo */

.bg-indigo1 {
    background-color: var(--indigo) !important;
}

.bg-indigo,
.bg-indigo2 {
    background-color: var(--indigo2) !important;
}

.bg-indigo3 {
    background-color: var(--indigo3) !important;
}


/* Violet */

.bg-violet1 {
    background-color: var(--violet) !important;
}

.bg-violet,
.bg-violet2 {
    background-color: var(--violet2) !important;
}

.bg-violet3 {
    background-color: var(--violet3) !important;
}