.pada {
    padding: auto !important;
}

.pad0 {
    padding: 0 !important;
}

.pad1 {
    padding: var(--pad1) !important;
}

.pad2,
.pad {
    padding: var(--pad2) !important;
}

.pad3 {
    padding: var(--pad3) !important;
}

.pad4 {
    padding: var(--pad4) !important;
}

.pad5 {
    padding: var(--pad5) !important;
}

.pad6 {
    padding: var(--pad6) !important;
}


/* Padding Left */

.padl1 {
    padding-left: var(--pad1) !important;
}

.padl2,
.padl {
    padding-left: var(--pad2) !important;
}

.padl3 {
    padding-left: var(--pad3) !important;
}

.padl4 {
    padding-left: var(--pad4) !important;
}

.padl5 {
    padding-left: var(--pad5) !important;
}

.padl6 {
    padding-left: var(--pad6) !important;
}


/* Padding Right */

.padr1 {
    padding-right: var(--pad1) !important;
}

.padr2,
.padr {
    padding-right: var(--pad2) !important;
}

.padr3 {
    padding-right: var(--pad3) !important;
}

.padr4 {
    padding-right: var(--pad4) !important;
}

.padr5 {
    padding-right: var(--pad5) !important;
}

.padr6 {
    padding-right: var(--pad6) !important;
}


/* Padding Vertical*/

.padv1 {
    padding: var(--pad1) 0 !important;
}

.padv2,
.padv {
    padding: var(--pad2) 0 !important;
}

.padv3 {
    padding: var(--pad3) 0 !important;
}

.padv4 {
    padding: var(--pad4) 0 !important;
}

.padv5 {
    padding: var(--pad5) 0 !important;
}

.padv6 {
    padding: var(--pad6) 0 !important;
}


/* Padding Horizontal */

.padh1 {
    padding: 0 var(--pad1) !important;
}

.padh2,
.padh {
    padding: 0 var(--pad2) !important;
}

.padh3 {
    padding: 0 var(--pad3) !important;
}

.padh4 {
    padding: 0 var(--pad4) !important;
}

.padh5 {
    padding: 0 var(--pad5) !important;
}

.padh6 {
    padding: 0 var(--pad6) !important;
}