@keyframes fadebl {
    from {
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

._fadebl {
    animation-name: fadebl;
    animation-duration: var(--animation-duration);
}

@keyframes fadeoutbl {
    from {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-100%, 100%, 0);
    }
}

._fadeoutbl {
    animation-name: fadeoutbl;
    animation-duration: var(--animation-duration);
}