@keyframes fadelplus {
    from {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

._fadelplus {
    animation-name: fadelplus;
    animation-duration: var(--animation-duration);
}

@keyframes fadeoutlplus {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

._fadeoutlplus {
    animation-name: fadeoutlplus;
    animation-duration: var(--animation-duration);
}