nav {
    background-color: var(--bg1);
}

.nav-top {
    top: 0;
    left: 0;
    right: 0;
    height: auto;
}

.nav-row {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-col {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.nav-title {
    margin: var(--mrg4);
    font-size: var(--fnts4);
    color: var(--t1);
    font-weight: bold;
    text-decoration: none;
}

.nav-heading {
    margin: var(--mrg2);
    margin-bottom: 0;
    font-size: var(--fnts3);
    color: var(--t1);
}

.nav-item {
    padding: var(--pad3);
    text-decoration: none;
    color: var(--t2);
    cursor: pointer;
}

.nav-item:hover {
    filter: opacity(80%);
}