.tooltip {
    position: relative;
    display: inline-block;
    color: var(--t2);
}

.tooltip .tooltiptxt {
    visibility: hidden;
    min-width: 120px;
    background-color: var(--bg2);
    text-align: center;
    padding: var(--pad2) 0;
    border-radius: var(--br3);
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptxt {
    visibility: visible;
    animation-name: fade;
    animation-duration: .5s;
}

.tooltipr .tooltiptxt {
    top: -10px;
    left: 105%;
}

.tooltipl .tooltiptxt {
    top: -10px;
    right: 105%;
}

.tooltipt .tooltiptxt {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipb .tooltiptxt {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipt .tooltiptxt::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg2) transparent transparent transparent;
}

.tooltipb .tooltiptxt::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg2) transparent;
}

.tooltipl .tooltiptxt::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bg2);
}

.tooltipr .tooltiptxt::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--bg2) transparent transparent;
}