.tooltip-text {
    visibility: hidden;
    min-width: 120px;
    background-color: var(--bg2);
    text-align: center;
    padding: var(--pad2) 0;
    border-radius: var(--br3);
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    animation-name: fade;
    animation-duration: .5s;
}

.tooltip-right {
    top: -10px;
    left: 105%;
}

.tooltip-left {
    top: -10px;
    right: 105%;
}

.tooltip-top {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-bottom {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipt-top::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg2) transparent transparent transparent;
}

.tooltip-bottom::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg2) transparent;
}

.tooltip-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--bg2);
}

.tooltip-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--bg2) transparent transparent;
}