.carousel {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: var(--mrg2);
    text-align: center;
}

.carousel-slide {
    display: none;
    background-color: var(--bg3);
    animation-name: fade;
    animation-duration: var(--animation-duration);
}

.carousel-previous,
.carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: var(--pad3);
    color: var(--t1);
    background-color: var(--bg1);
    font-weight: bold;
    font-size: var(--fnts4);
    transition: 0.6s ease;
    border-radius: 0 var(--br2) var(--br2) 0;
    user-select: none;
}

.carousel-next {
    right: 0;
    border-radius: var(--br2) 0 0 var(--br2);
}

.carousel-previous:hover,
.carousel-next:hover {
    background-color: var(--bg3);
    opacity: 90%;
}


/* Caption text */

.carousel-info {
    color: var(--t2);
    font-size: var(--fnts4);
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}


/* Indicators of active slide */

.carousel-indicators {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.carousel-indicators span {
    cursor: pointer;
    height: 10px;
    width: 50px;
    margin: 0 2px;
    background-color: var(--bg4);
    transition: background-color 0.6s ease;
    display: inline-block;
}

.carousel-indicators span:hover {
    background-color: var(--bg6);
}

@media screen and (max-width: 800px) {
    .carousel,
    .carousel-slide {
        width: 100% !important;
    }
}