/* 
Name: Box Shadow
Prefix: box,in
Dev: Box shadow of an element
*/

.box0 {
    box-shadow: none !important;
}

.box1 {
    box-shadow: var(--box1);
}

.box2,
.box2h,
.box,
.boxh {
    box-shadow: var(--box2);
}

.box3 {
    box-shadow: var(--box3);
}

.box4 {
    box-shadow: var(--box4);
}

.box5 {
    box-shadow: var(--box5);
}

.box6 {
    box-shadow: var(--box6);
}

.boxh:hover {
    box-shadow: var(--box3);
}

.in0 {
    box-shadow: none !important;
}

.in1 {
    box-shadow: var(--in1);
}

.in2,
.in2h,
.in,
.inh {
    box-shadow: var(--in2);
}

.in3 {
    box-shadow: var(--in3);
}

.in4 {
    box-shadow: var(--in4);
}

.in5 {
    box-shadow: var(--in5);
}

.in6 {
    box-shadow: var(--in6);
}

.inh:hover {
    box-shadow: var(--in3);
}