/* 
Name: Color
Prefix: 
Dev: Colors are referenced by name
*/

.t1 {
    color: var(--t1);
}

.t2 {
    color: var(--t2);
}

.t3 {
    color: var(--t3);
}

.t4 {
    color: var(--t4);
}

.t5 {
    color: var(--t5);
}

.t6 {
    color: var(--t6);
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.grey {
    color: var(--grey);
}

.offwhite {
    color: var(--bg3);
}

.red {
    color: var(--red);
}

.red2 {
    color: var(--red2);
}

.blue {
    color: var(--blue);
}

.blue2 {
    color: var(--blue2);
}

.yellow {
    color: var(--yellow);
}

.orange {
    color: var(--orange);
}

.green {
    color: var(--green);
}