/* 
Name: Height
Prefix: ht
Dev: Height of an element
*/

.ht0 {
    height: auto !important;
}

.ht1 {
    height: var(--ht1) !important;
}

.ht2 {
    height: var(--ht2) !important;
}

.ht3 {
    height: var(--ht3) !important;
}

.ht4 {
    height: var(--ht4) !important;
}

.ht5 {
    height: var(--ht5) !important;
}

.ht6 {
    height: var(--ht6) !important;
}

.ht {
    height: 100% !important;
}