/* 
Name: Height
Prefix: ht
Dev: Height of an element
*/

.ht-auto {
    height: auto !important;
}

.ht-25 {
    height: 25% !important;
}

.ht-33 {
    height: 33% !important;
}

.ht-50 {
    height: 50% !important;
}

.ht-75 {
    height: 75% !important;
}

.ht-100 {
    height: 100% !important;
}