/*
Name: Object Fit
Prefix: objf
Dev: Used to specify how an <img> or <video> should be resized to fit its container. Fill is default.
*/

.objf0 {
    object-fit: none;
}

.objf-fill {
    object-fit: fill;
}

.objf-contain {
    object-fit: contain;
}

.objf-cover {
    object-fit: cover;
}

.objf-scale {
    object-fit: scale-down;
}