/*
Name: Outline Style
Prefix: out
Dev: Outline of an element
*/

.out-dot {
    outline-style: dotted;
}

.out-dash {
    outline-style: dashed;
}

.out-solid {
    outline-style: solid;
}

.out-double {
    outline-style: double;
}

.out-groove {
    outline-style: groove;
}

.out-ridge {
    outline-style: ridge;
}

.out-inset {
    outline-style: inset;
}

.out-outset {
    outline-style: outset;
}