/* 
Name: Status
Prefix: 
Dev: Statuses that can signal the user
*/

.success {
    color: var(--success);
}

.warning {
    color: var(--warning);
}

.danger {
    color: var(--danger);
}

.info {
    color: var(--info);
}