<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Dropdown</title>
    <meta></meta>
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="dropdown.css">
</head>

<body class="fnt-l spc-none">
    <nav class="nav-vert flx-col flt-left jst-between aln-center box txt-center">
        <div class="div-xl flx-col aln-start jst-center">
            <div class="roobie"><span>Roo</span>bie</div>
            <a class="nav-item" href="../../index.html">Home</a>
            <a class="nav-item" href="../../components/container/container.html">Container</a>
            <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
            <a class="nav-item" href="../../components/button/button.html">Button</a>
            <a class="nav-item" href="../../components/input/input.html">Input</a>
            <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
            <a class="nav-item" href="../../components/list/list.html">List</a>
            <a class="nav-item active" href="../../components/dropdown/dropdown.html">Dropdown</a>
        </div>
        <div class="flx-col aln-center center">
            <a class="nav-item">&copy; Roobie 2021</a>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div bg-soft-blue pad-v-xl flx-col aln-center box">
                <div class="div-xl">
                    <h1>Dropdown</h1>
                    <p>Display hidden content on hover.</p>
                </div>
            </div>
            <div class="div-xl flx-col aln-start jst-start txt-left">
                <h3>Basic</h3>
                <div class="div ">
                    <div class="div">
                        <p><b>btn</b> Basic button styles</p>
                        <p><b>brd-none</b> No border</p>
                    </div>
                    <div class="flx-row aln-center div jst-start mrg-v bg-off-white pad-xl br">
                        <div class="drp mrg-m">
                            <a class="drp-btn">Links</a>
                            <div class="drp-cnt br txt-center">
                                <a>Link 1</a>
                                <a>Link 2</a>
                                <a>Link 3</a>
                            </div>
                        </div>
                        <div class="drp">
                            <button class="drp-btn btn">Content</button>
                            <div class="drp-cnt pad br">
                                <p>Container that can hold any element</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Advanced</h3>
                <div class="flx-row div jst-start mrg-v bg-off-white pad-xl br">
                    <div class="drp">
                        <button class="drp-btn btn bg-off-white">Descriptions</button>
                        <div class="drp-cnt br">
                            <a class="flx-col">Products<p>Handmade, carefully crafted products</p></a>
                            <a class="flx-col">Resources<p>An archive of learning resources</p></a>
                            <a class="flx-col">Tutorials<p>Description tutorials to learn CSS</p></a>
                        </div>
                    </div>
                    <div class="drp">
                        <button class="drp-btn btn">Row</button>
                        <div class="drp-cnt br txt-left">
                            <div class="flx-row pad br">
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Sports</h4>
                                    <a>Frisbee</a>
                                    <a>Football</a>
                                    <a>Soccer</a>
                                </div>
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Calendar</h4>
                                    <a>March</a>
                                    <a>April</a>
                                    <a>May</a>
                                </div>
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Schedule</h4>
                                    <a>Fall</a>
                                    <a>Winter</a>
                                    <a>Spring</a>
                                </div>
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Events</h4>
                                    <a>Baseball Camp</a>
                                    <a>Running Lessions</a>
                                    <a>Tournament</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drp">
                        <button class="drp-btn btn bg-off-white">Column</button>
                        <div class="drp-cnt br txt-left">
                            <div class="flx-col pad br">
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Sports</h4>
                                    <a>Frisbee</a>
                                    <a>Football</a>
                                    <a>Soccer</a>
                                </div>
                                <div class="flx-col mrg-l">
                                    <h4 class="drp-title">Calendar</h4>
                                    <a>March</a>
                                    <a>April</a>
                                    <a>May</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="drp">
                        <button class="drp-btn btn bg-off-white">Mixed</button>
                        <div class="drp-cnt br txt-left">
                            <div class="flx-row pad br">
                                <div class="flx-col div-50 mrg-l">
                                    <h4 class="drp-title">Sports</h4>
                                    <a>Frisbee</a>
                                    <a>Football</a>
                                    <a>Soccer</a>
                                </div>
                                <div class="flx-col div-50 mrg-l">
                                    <h4 class="drp-title">Calendar</h4>
                                    <a>March</a>
                                    <a>April</a>
                                    <a>May</a>
                                </div>
                            </div>
                            <div class="flx-row pad br">
                                <div class="flx-col div-50 mrg-l">
                                    <h4 class="drp-title">Schedule</h4>
                                    <a>Fall</a>
                                    <a>Winter</a>
                                    <a>Spring</a>
                                </div>
                                <div class="flx-col div-50 mrg-l">
                                    <h4 class="drp-title">Events</h4>
                                    <a>Baseball Camp</a>
                                    <a>Running Lessions</a>
                                    <a>Tournament</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Navbar Integration</h3>
                <div class="div">
                    <nav class="nav-horiz flx-row jst-between aln-center box">
                        <div class="flx-row aln-center">
                            <div class="nav-title"><span>Roo</span>bie</div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Descriptions</a>
                                <div class="drp-cnt br">
                                    <a class="flx-col">Products<p>Handmade, carefully crafted products</p></a>
                                    <a class="flx-col">Resources<p>An archive of learning resources</p></a>
                                    <a class="flx-col">Tutorials<p>Description tutorials to learn CSS</p></a>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Row</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-row pad br">
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Schedule</h4>
                                            <a>Fall</a>
                                            <a>Winter</a>
                                            <a>Spring</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Events</h4>
                                            <a>Baseball Camp</a>
                                            <a>Running Lessions</a>
                                            <a>Tournament</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item">Column</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-col pad br">
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="drp">
                                <a class="drp-btn nav-item bg-off-white">Mixed</a>
                                <div class="drp-cnt br txt-left">
                                    <div class="flx-row br">
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Sports</h4>
                                            <a>Frisbee</a>
                                            <a>Football</a>
                                            <a>Soccer</a>
                                        </div>
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Calendar</h4>
                                            <a>March</a>
                                            <a>April</a>
                                            <a>May</a>
                                        </div>
                                    </div>
                                    <div class="flx-row br">
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Schedule</h4>
                                            <a>Fall</a>
                                            <a>Winter</a>
                                            <a>Spring</a>
                                        </div>
                                        <div class="flx-col div-50 mrg-l">
                                            <h4 class="drp-title">Events</h4>
                                            <a>Baseball Camp</a>
                                            <a>Running Lessions</a>
                                            <a>Tournament</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </nav>
                    </div>
                    <div class="row-divider"></div>
                </div>
            </div>
</body>

</html>