<!DOCTYPE html>
<html>

<head>
    <title>Roobie | Tag</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./../../images/icons/gem-stone-1.svg">
    <link rel="stylesheet" href="../../roobie.css">
    <link rel="stylesheet" href="../../roobie-demo.css">
    <link rel="stylesheet" href="tag.css">
</head>

<body class="fnt-l spc-none">
    <nav class="nav-col flx-col flt-left jst-between aln-center box txt-center">
        <div class="div-xl flx-col aln-start jst-center">
            <div class="roobie"><span>Roo</span>bie</div>
            <a class="nav-item" href="../../index.html">Home</a>
            <a class="nav-item" href="../../components/container/container.html">Container</a>
            <a class="nav-item" href="../../components/navbar/navbar.html">Navbar</a>
            <a class="nav-item" href="../../components/button/button.html">Button</a>
            <a class="nav-item" href="../../components/input/input.html">Input</a>
            <a class="nav-item" href="../../components/grid/grid.html">Grid</a>
            <a class="nav-item" href="../../components/list/list.html">List</a>
            <a class="nav-item" href="../../components/dropdown/dropdown.html">Dropdown</a>
            <a class="nav-item active" href="../../components/tag/tag.html">Tag</a>
        </div>
        <div class="flx-col aln-center center">
            <a class="nav-item">&copy; Roobie 2021</a>
        </div>
    </nav>
    <div class="content">
        <div class="div flx-col aln-center">
            <div class="div bg-soft-blue padv-xl flx-col aln-center box">
                <div class="div-xl">
                    <h1>Tag</h1>
                    <p>Short blocks of content.</p>
                </div>
            </div>
            <div class="div-xl flx-col aln-start jst-start txt-left">
                <h3>Basic</h3>
                <div class="div">
                    <div class="div">
                        <p><b>tag</b> Basic tag styles</p>
                        <p><b>tag-h</b> Basic tag styles with a hover state</p>
                    </div>
                    <div class="mrg-v flx-row jst-start wrp bg-off-white pad-xl br aln-center">
                        <div class="tag">Cheese</div>
                        <div class="tag bdr">Pepperoni</div>
                        <div class="tag-h">Eggs</div>
                    </div>
                </div>
                <h3>Descriptions</h3>
                <div class="div">
                    <div class="div">
                        <p>Tags used to describe.</p>
                    </div>
                    <div class="mrg-v flx-row jst-start pad-xl wrp bg-off-white br">
                        <div class="mrg bg-white br box-h pad">
                            <h4>Mama's Pumpkin Pie</h4>
                            <div class="flx-row">
                                <div class="tag">30 min</div>
                                <div class="tag">Pumpkin</div>
                                <div class="tag">Gluten Free</div>
                            </div>
                            <div class="grey pad-s">
                                The best recipe in the world! Delicious & easy to make.
                            </div>
                        </div>
                        <div class="mrg bg-white br box-h pad">
                            <h4>Chocolate Chip Cookies</h4>
                            <div class="flx-row">
                                <div class="tag">25 min</div>
                                <div class="tag">Favorite</div>
                                <div class="tag-h bg-soft-blue white">New!</div>
                            </div>
                            <div class="grey pad-s">
                                Cookies that will knock your socks off.
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Categories</h3>
                <div class="div">
                    <div class="div">
                        <p>Alike tags styled together in a container.</p>
                    </div>
                    <div class="mrg-v flx-row jst-start pad-xl wrp bg-off-white br">
                        <div class="mrg div-m bg-white br box pad">
                            <div class="flx-col wrp category">
                                <div class="flx-row bg-off-white br pad mrg">
                                    <div class="tag-h">Small</div>
                                    <div class="tag-h">Medium</div>
                                    <div class="tag-h">Large</div>
                                    <div class="tag-h">Extra Large</div>
                                </div>
                                <div class="flx-row jst-center bg-off-white br pad mrg">
                                    <div class="tag-h">Red</div>
                                    <div class="tag-h">Yellow</div>
                                    <div class="tag-h">Orange</div>
                                    <div class="tag-h">Purple</div>
                                    <div class="tag-h">Blue</div>
                                </div>
                                <div class="flx-row jst-end bg-off-white br pad mrg">
                                    <div class="tag-h">Update</div>
                                    <div class="tag-h">Shutdown</div>
                                    <div class="tag-h">Delete</div>
                                    <div class="tag-h">Install</div>
                                </div>

                                <div class="flx-row jst-around bg-off-white br pad mrg">
                                    <div class="tag-h">-1</div>
                                    <div class="tag-h">0</div>
                                    <div class="tag-h">+1</div>
                                </div>

                                <div class="flx-row jst-between bg-off-white br pad mrg">
                                    <div class="tag-h">Start</div>
                                    <div class="tag-h">End</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-divider"></div>
                        <div class="flx-col mrg bg-white br box pad-l">
                            <h3 class="txt-center">Order</h3>
                            <div class="div mrg-h">
                                <h4>Cheese</h4>
                                <div class="flx-row wrp">
                                    <div class="tag-h">Light</div>
                                    <div class="tag-h">Normal</div>
                                    <div class="tag-h bg-soft-blue white">Extra</div>
                                    <div class="tag-h">No Cheese</div>
                                </div>
                            </div>
                            <div class="div mrg-h">
                                <h4>Meat</h4>
                                <div class="flx-row wrp">
                                    <div class="tag-h bg-soft-blue white">Chicken</div>
                                    <div class="tag-h">Beef</div>
                                    <div class="tag-h">Pork</div>
                                    <div class="tag-h">None</div>
                                </div>
                            </div>
                            <div class="div mrg-h">
                                <h4>Vegetables</h4>
                                <div class="flx-row wrp">
                                    <div class="tag-h">Broccoli</div>
                                    <div class="tag-h">Carrots</div>
                                    <div class="tag-h bg-soft-blue white">None</div>
                                </div>
                            </div>
                            <div class="flx-row jst-end ">
                                <button class="btn fnt-s bg-green box-h">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>