@keyframes backr {
    0% {
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.backr {
    animation-name: backr;
    animation-duration: var(--animation-duration);
}

@keyframes backoutr {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    20% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: translateX(2000px) scale(0.7);
        opacity: 0.7;
    }
}

.backoutr {
    animation-name: backoutr;
    animation-duration: var(--animation-duration);
}