@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

._flash {
    animation-name: flash;
    animation-duration: var(--animation-duration);
}