@keyframes glow {
    10% {
        opacity: .9;
    }
    20% {
        opacity: .7;
    }
    30% {
        opacity: .5;
    }
    40% {
        opacity: .3;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: .3;
    }
    70% {
        opacity: .5;
    }
    80% {
        opacity: .7;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}

._glow {
    animation-name: glow;
    animation-duration: var(--animation-duration);
}