.diva,
.div10,
.div20,
.div25,
.div33,
.div40,
.div50,
.div60,
.div66,
.div75,
.div80,
.div90,
.div100 {
    height: auto !important;
    padding: var(--pad2);
}

.diva {
    width: auto !important;
}

.div10 {
    width: 10% !important;
}

.div20 {
    width: 20% !important;
}

.div25 {
    width: 25% !important;
}

.div33 {
    width: 33.33% !important;
}

.div40 {
    width: 40% !important;
}

.div50 {
    width: 50% !important;
}

.div60 {
    width: 60% !important;
}

.div66 {
    width: 66.66% !important;
}

.div75 {
    width: 75% !important;
}

.div80 {
    width: 80% !important;
}

.div90 {
    width: 90% !important;
}

.div100 {
    width: 100% !important;
}

.div {
    width: 100% !important;
    height: auto !important;
}