/* Column */

.col {
    display: flex;
    flex-direction: column;
}

.colr {
    display: flex;
    flex-direction: column-reverse;
}


/* Row */

.row {
    display: flex;
    flex-direction: row;
}

.rowr {
    display: flex;
    flex-direction: row-reverse;
}


/* Base */

.flx {
    display: flex;
}

.blk {
    display: block;
}

.inl {
    display: inline;
}

.inl-blk {
    display: inline-block;
}

.inl-flx {
    display: inline-flex;
}