.jst-self-center {
    justify-self: center;
}

.jst-self-between {
    justify-self: space-between;
}

.jst-self-around {
    justify-self: space-around;
}

.jst-self-start {
    justify-self: flex-start;
}

.jst-self-end {
    justify-self: flex-end;
}

.jst-self-base {
    justify-self: baseline;
}

.jst-self-stretch {
    justify-self: stretch;
}